*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    
    font-family: 'Montserrat', sans-serif;
 
 
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: bolder;
    background-color: #D9BBF9 ;
    border-radius: 0.5rem;
    margin: 2rem auto;
    max-width: 90%;
  }
  h3{
    margin: 1.5rem;
  }


 .subtitulo{
   font-weight: bold;
   
   margin: 2rem auto ;
  
 }

 .linea{
    width: 60px;
    height: 5px;
    background-color: #a0a0a0;
    margin: 1rem auto;
    border-radius: 50px;

  }

  .mainTwo{
    font-weight: bold;
    margin: 2rem 2rem;
  }

  .pasos{
    text-transform: uppercase;
  }
.numero{
  color:#D9BBF9;
  font-size: 2rem;
  margin: 0.5rem;
}

#pasoTres{
  margin-bottom: 2rem;
}

@media screen and (min-width: 555px){
  #ultimoPaso{
    margin-bottom: 3rem;
  }
  
}