*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-image: url(/pin/4362930879518092/);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: bolder;
    background-color: #D9BBF9 ;
    border-radius: 0.5rem;
    margin: 2.5rem auto;
    max-width: 90%;
  }

  h2{
    font-size: 1.5rem;
    margin: 2.5rem auto;
  }

  h3{
    font-weight: bold;
    max-width: 85%;
    margin: auto;
    font-size: 1.5rem;
    margin: 2.5rem auto 0.2rem auto;
    font-weight: bold;
    color:#8b4abd;
    text-shadow: 1px 1px #371452;
    }

  .subtitulo{
    font-weight: bold;
    max-width: 85%;
    margin: auto;
  }

  .texto{
    font-weight: bold;
    max-width: 85%;
    margin: auto;
  }
  .aTexto{
    font-weight: bold;
    max-width: 85%;
    margin: auto;
    text-decoration-line: underline;
    text-decoration-style: wavy;
  }
  .bTexto{
    font-weight: bold;
    max-width: 85%;
    margin: auto;
    text-decoration-line: underline;
    text-decoration-style: wavy;
  }
  .cTexto{
    font-weight: bold;
    max-width: 85%;
    margin: auto;
    text-decoration-line: underline;
    text-decoration-style: wavy;
   
  }
  .dTexto{
    font-weight: bold;
    max-width: 85%;
    margin: auto;
    text-decoration-line: underline;
    text-decoration-style: wavy;
  }
  .eTexto{
    font-weight: bold;
    max-width: 85%;
    margin: auto;
    text-decoration-line: underline;
    text-decoration-style: wavy;
  }

 .items{
  font-weight: bold;
  max-width: 50%;
  margin: auto;
  font-size: 1.5rem;
  margin: 1.0rem auto 0.0rem auto;
  font-weight: bold;
  color:#030005a9;;
 }