*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}



h1 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bolder;
    background-color: #D9BBF9 ;
    border-radius: 0.5rem;
    margin: 2.5rem auto;
    max-width: 90%;
  }

  h2{
    font-size: 1.5rem;
    margin: 2.5rem auto;
  }

  .secondaryTitle{
  display: flex;
  justify-content: space-between;

  }

.ejemplo{
margin-top: 10px;
margin-bottom: 10px;

  }

.enviar{
    border:5px;
    background-color: #b47cde;
    width: 40%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    transition: all 200ms;
}

.enviar:hover{ 
    color: #5A2083;
    background-color: #d9bbf9;
}

  .texto{
      font-weight: bold;
      margin:10px;
      
  }
.contactanos{
  font-weight: bold;
  margin: 10px;
}


  .formCont{
 border: none;
  
  }
  .cuadroFormulario{
    text-align: center;
    border-radius: 20px;
    margin-bottom: 5px;
    padding: 35px 35px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }

.cuadroFormulario input{
        align-items: center;
        border: none;
        width: 100%;
        height: 40px;
        margin-bottom: 15px;
        border-radius: 10px;
        font-size:15px;
        border: solid 1px #b47cde;
        transition: box-shadow 200ms;
  
}

.mensaje{
  margin-bottom: 10px;
}

.mainSection{
  display: block;
    width: 100%;
    height: 60%;
    padding: 0.6rem;
    box-shadow: 0px 0px 5px #b47cde;
    border-radius: 20px;
    transition: all 200ms;
    margin: 1rem;
    margin-left: 0;
    margin-bottom: 0.25rem;
    text-align: center;
    justify-content: center;
    max-width: 90%;
}


.mainSection:hover{
    box-shadow: 0px 0px 10px #5A2083;
}

}

@media screen and (min-width: 769px){
  .cuadroFormulario{
    margin: auto;
   width: 60%;
   margin-top: 10px;
   margin-bottom: 15px;
   
}
.preguntasF{
  display: flex;
  justify-content:space-around;
}
input .ejemplo{
  display: flex;
  justify-content: center;
}

h1 {
  max-width: 60%;
}
}