*{

    margin: 0;
    box-sizing: border-box;
}

body{
  
    font-family: 'Montserrat', sans-serif;
    
}
main{
  text-align: center;
}

main{
  margin-bottom: 2rem;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bolder;
  background-color: #D9BBF9 ;
  border-radius: 0.5rem;
  margin: 2rem auto;
  max-width: 90%;
}


  h2{
    font-size: 1.5rem;
    margin: 2.5rem auto;
  }

  .linea{
    width: 60px;
      height: 5px;
      background-color: #a0a0a0;
      margin: 1rem auto;
      border-radius: 50px;
  
    }

    p{
      font-weight: bold;
    }

    .mainOne{
      margin: 2rem auto;
    }

    h3{
      margin-bottom: 1rem;
    }


 


