*{

    margin: 0;
    box-sizing: border-box;
}

body{
    
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
main{
  text-align: center;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: bolder;
    background-color: #D9BBF9 ;
    border-radius: 0.5rem;
    margin: 2.5rem auto;
    max-width: 70%;
  }

  h2{
    font-size: 1.5rem;
    margin: 2.0rem auto;
  }

  .mainOne{
    font-weight: 300;
    margin: 2rem auto;
    max-width: 80%;
    text-align: center;
  max-width: 80%;
   background-color:rgb(217, 187, 249, 0.4);
  padding: 0.5rem;
  border-radius: 5px;
  }

  .mainTwo{
    margin: 2rem auto;
    font-weight: 300;
    max-width: 80%;
    text-align: center;
  max-width: 80%;

  background-color:rgb(217, 187, 249, 0.4);
  padding: 0.5rem;
  border-radius: 5px;
  }

  h3{
    font-size: 2rem;
    color:#371452;
    max-width: 80%;
    margin: 3rem auto;
  }

