*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
article{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: bolder;
    background-color: #D9BBF9 ;
    border-radius: 0.5rem;
    margin: 2.5rem auto;
    max-width: 90%;
  }

  h2{
    font-size: 1.5rem;
    margin: 2.5rem auto;
  }

  .subtitulo{
    font-weight: bold;
    max-width: 85%;
    margin-bottom: 40px;
  }

  .items{
    font-weight: bold;
    max-width: 85%;
    margin: 1rem;
    text-align: left;
  }

  .texto{
    font-weight: bold;
    max-width: 85%;
    margin: 1rem;
  }

#ultimoTexto{
  margin-bottom: 3rem;
}

.politica{
  font-weight: bold;
  max-width: 85%;
   margin-top: 3rem;
}