*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}
main{
    text-align: center;
  }

.titleOne{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    color: #b47cde;
    text-align: center;
}

.titleTwo{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    color: #b47cde;
    text-align: center;
}

.formulario {
    text-align: center;
    box-shadow: 0px 0px 5px #b47cde;
    border-radius: 20px;
    width: 60%;
    padding: 35px 35px;
    justify-content: center;
    align-items: center;
    transition: box-shadow 200ms;
    margin: auto;
    margin-bottom: 25px;
    
}

.formulario:hover{
    box-shadow: 0px 0px 10px #5A2083;
}

.titulo{
    margin: 1rem;
}

.formulario input{
        align-items: center;
        border: 1rem;
        width: 100%;
        height: 40px;
        margin-bottom: 15px;
        border-radius: 10px;
        font-size:15px;
        border: solid 1px #b47cde;
        transition: box-shadow 200ms;
    
}

form label{
    font-weight: bold;
    font-size: 15px;
}

main button{
    border:5px;
    background-color: #b47cde;
    width: 60%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    transition: all 200ms;
}

main button:hover{ 
    color: #5A2083;
    background-color: #d9bbf9;
}


@media screen and (min-width: 558px) {
    main button{
        width: 10rem;
    }
    form label{
        font-size: 20px;
    }
    .formulario input{
        margin-top: 1rem;
    }
}