<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 

    <main>
        <h1>CATEGORÍAS</h1>
        <section class= "categorias">
        <ul>
            <li class= "rel">
                <picture class= "imagenProducto">
                <img src="/images/gastronomia4.png" alt="gastronomia">
                <h5 class="abs"><a href="/categories/1">Gastronomía</a></h5>
                </picture>
            </li> 

            <li class= "rel">
                <picture class= "imagenProducto">
                <img src="/images/aventura.png" alt="aventura">
                
                <h5 class="abs"><a href="/categories/2">Aventura</a></h5>
            </picture>
            </li>
            
            <li class= "rel">
                <picture class= "imagenProducto">
                <img src="/images/spa.png" alt="spa">
                </picture>
                <h5 class="abs"><a href="/categories/3">Estar Bien</a></h5>
            </li>
                
            <li class= "rel">
                <picture class= "imagenProducto">
                 <img src="/images/entretenimiento.jpg" alt="entretenimiento">
                 </picture>
                <h5 class="abs"><a href="/categories/4">Entretenimiento</a></h5>
            </li>

            <li class= "rel">
                <picture class= "imagenProducto">
                <img src="/images/estadias.jpg" alt="estadias">
                </picture>
                <h5 class="abs"><a href="/categories/5">Estadías</a></h5>
            </li>
        </ul>
    </section>
    </main>

    <%- include('../partials/footer') %> 
    
</body>
</html>