<%- include("../partials/head")  %> 


<body>
    <%- include("../partials/header")  %> 

    <main>
        <h1>COMPRAS</h1>
        <section class=todo>
        <article>
            <h3>No recibí el código para enviarlo por Whatsapp</h3>
            <p>
                El envío por WhatsApp no es inmediato. Tenés que copiar el link que se genera, abrir tu WhatsApp y enviarselo a tu contacto.
                Si ingresas a nuestra web con el usuario con el que compraste en la pestaña que dice Compras Realizadas también vas a encontrar el link correspondiente al regalo.
            </p>
        </article >
        <article>
            <h3>¿Qué pasa si no veo stock disponible en la web en el punto de venta que quiero retirar?</h3>
            <p>
                Podés ir directo al punto de venta elegido a comprar, ya que siempre cuentan con un stock a la venta directamente allí. Si estás comprando una cantidad grande por favor consultanos antes dejándonos un mensaje.
                Podés pagar con todos los medios de pago y te llevas el Enjoy en el momento. También hay algunas promociones especiales que podés ver acá.
                Revisa el horario y en que piso se encuentra el stand en el siguiente link:
                https://www.enjoy.com.ar/puntosVenta
            </p>
        </article>
        <article>
            <h3>¿Tienen descuento por cantidad?</h3>
            <p>
                En la web no tenemos descuentos disponibles por cantidad. 
                Para compras corporativas ingresa al siguiente link:
                https://www.enjoy.com.ar/corporativas
            </p>
        </article>
        <article>
            <h3>¿Cuándo puedo retirar la compra por el punto de venta?</h3>
            <p>
                Al comprar podés elegir Retiro en tienda Enjoy y retirar en nuestros puntos de venta ya habilitados. Una vez que te llegue la confirmación de compra donde figura el código de retiro ya podés ir al shopping seleccionado. 
                Puede ir el comprador, enviar un servicio de mensajería u otra persona siempre que indicaque el código de Pick Up y el usuario de compra.
            </p>
        </article>
        <article>   
            <h3>No le llegó el mail del regalo ¿Cómo sé si se envió el mail?</h3>
            <p>
                Ingresando a tu usuario, Tus compras podés ver el detalle de la misma y si el mail fue enviado pero no leído. En este caso podés reenviar el mail a la misma dirección o modificarla. También podrás descargarte el código para imprimirlo y entregarlo (ojo! no lo abrás en nuestra web).
                Otra opción es enviarte el regalo a tu mail y luego reenviarlo a tu agasajado así te asegurás que lo reciba en la bandeja principal.
                Cuando tu agasajado abre el mail del regalo te enviamos una notificación a tu mail.
            </p>
        </article>
        <article>   
            <h3>¿Puedo solicitar Factura A?</h3>
            <p>
                Sí, luego de seleccionar el medio de pago, podrás modificar a factura A / B Exento y completar los datos correspondientes. Una vez que se complete la compra, recibirás la factura por mail en el transcurso de la siguiente semana. 
                Ojo! Asegurate de completar bien todos los datos!
                De no seleccionar esa opción, la compra se facturará automáticamente como consumidor final (Factura B).
            </p>
        </article>
        <article>   
            <h3>¿Cuáles son los medios de pago?</h3>
            <p>
                Vía web utilizamos MercadoPago como plataforma para canalizar los pagos. Los medios que incluye esta plataforma son:
                <ul class=lista>
                    <li>Visa</li>
                    <li>Masterd Card</li>
                    <li>American Express</li>
                    <li>Tarjeta Naranja</li>
                    <li>Tarjeta Shopping</li>
                    <li>Argencard</li>
                    <li>Cabal</li>
                    <li>Nativa Nación</li>
                </ul>
                En efectivo en puntos de pago :
                <ul class=lista>
                    <li>Pago Fácil</li>
                    <li>Mercado Pago</li>
                    <li>Provincia NET</li>
                </ul>
            </p>
        </article>
  
        <article>   
            <h3>¿Puedo realizar la compra telefónicamente?</h3>
            <p>
                No. Las compras se realizan únicamente vía web o en nuestros puntos de venta.
            </p>
        </article>
    </section>
    </main>

    <%- include("../partials/footer") %> 

</body>