<%- include("../partials/head")  %> 


<body>
    <%- include("../partials/header")  %> 

    <main>

        <h1>ENVIOS</h1>
        <section class=todo >
        <article>
            <h3 class= "agasajados">Si envío el Enjoy a mi dirección a mi nombre para depués regalarla.¿Pueden utilizarla mis agasajados?</h3>
            <p>Si ! La experiencia recién se vicula a la persona cuando cargan el código en la página, sin importar los datos de envío.</p>
        </article>
        <article>
            <h3>¿Cómo se envía el regalo?</h3>
            <p>
                En la web podés adquirir un Enjoy físico o la digital. 
                La física se envía al domicilio que indiques al momento de la compra (puede ser el de tu agasajado o el tuyo). La entrega es dentro de las 72 hs hábiles de acreditado el pago (CABA y Gran Buenos Aires). En CABA también tenés entrega en el día. 
                La versión digital se envía por mail o por Whatsapp. Podés enviar el mail de tu agasajado o el tuyo para después reenviarlo desde tu casilla o imprimirlo.
                Si elegís envio por Whatsapp, se genera un link que tenés que enviarlo desde tu dispositivo o Whatsapp Web al contacto que seleccciones (no es inmediato). El link lo vas a poder ver siempre desde tus compras.
                Si te lo envías a tu mail o abrís el link no abras el código en la web, ya que va a quedar asociado a tu usuario y el agasajado no podrá acceder a su regalo. También vas a poder descargar el código desde tu usuario, tus compras realizadas. 
            </p>
        </article>
        <article>
            <h3>¿Cómo reenvío por mail el regalo?</h3>
            <p>
                Podés reenviar el mail del regalo ingresando en tu usuario, en la sección Tus compras, si todavía no fue abierto por tu agasajado. 
                Si el mail ya fue abierto no es posible que lo reenvíes. Tu agasajado, una vez que abra el código de su regalo en nuestra web, siempre podrá verlo si ingresa en su usuario, Tus regalos recibidos. Por lo que no es necesario reenviar el mail. Si no lo encuentra, nos pueden contactar para que lo reenviemos.  
            </p>
        </article>
        <article>
            <h3>¿El envío tiene costo?</h3>
            <p>
                Sí, el costo depende del destino y tiempo de entrega.
                En CABA la entrega se realiza dentro de los 3 días hábiles y tiene un costo de $400. También está la opción CABA - Moto Express (Se entrega en el mismo día de tu compra, hasta las 18 hs. Habilitado solo en dias hábiles, y para compras acreditadas hasta las 14 hs.) y tiene un costo de $500.
                A GBA la entrega se realiza entre las 72 y 96 hs hábiles y el costo es de $500.
                Al resto del país se entrega entre las 72 y 96 hs. hábiles y tiene un valor de $600 en adelante.
            </p>
        </article>
        <article>
            <h3>¿Cuáles son los plazos de envío?</h3>
            <p>
                Para envío simple a CABA y GBA la entrega se realiza dentro de las 72 horas hábiles. Para el resto del país de 48 a 96 horas hábiles.
                Las entregas se realizan de lunes a viernes hábiles de 9:00 a 18:00 hs. sin posibilidad de limitar la franja horaria. 
            </p>
            <h5>NOTA :</h5>
            <P class=h5-2>
                El envío puede sufrir demoras por falta de datos, información incorrecta o causas ajenas a Bigbox o a las empresas que ejecuten efectivamente el transporte. El Departamento de Atención al Cliente comunicará las circunstancias que impiden la entrega tan pronto como le sea posible.
                ENJOY SA no se responsabiliza por el incumplimiento del servicio de envío motivado por causas externas a la compañía.
            </P>
        </article>
    </section>
    </main>

    <%- include("../partials/footer")  %> 

</body>

