<%- include("../partials/head")  %> 


<body>
    <%- include("../partials/header")  %> 

    <main>
        <h1>USO DE MI REGALO</h1>
    <section class=todo>
         <article>
                <h3>Quiero abrir mi regalo</h3>
                <p>
                    Al abrir el código de 8 caracteres en nuestra web: https://www.enjoy.com.ar/abriTuExperiencia, podrás ver el catálogo de tu regalo y elegir una experiencia de entre todas las propuestas. Cuando ingreses a cada una verás en detalle qué incluye y los datos de contacto, para que puedas realizar la reserva.
         </article>
        <article>
            <h3>¿Cómo uso el regalo Enjoy?</h3>
            <p>
                Al activar el código de 8 caracteres en nuestra web, podrás ver el catálogo de tu regalo. Cada experiencia detallará exactamente que incluye: para cuántas personas es y lo que ofrece. No está asociado a un monto o valor. 
                Podrás elegir una experiencia de entre todas las propuestas en tu catálogo. Para hacerlo solo tenés que contactarte con el lugar e indicar el código ENJOY. 
                Podrás realizar la experiencia hasta la fecha de vencimiento del código.                    
            </p>
        </article >
        <article>
            <h3>¿Cuánto tiempo tengo para usar el regalo? </h3>
            <p>
                A partir del día de la compra, tenes 60 días para usar el regalo.
            </p>
        </article>
        <article>
            <h3>Si se me está por vencer el regalo Enjoy, ¿puedo extenderlo?</h3>
            <p>
                Podés cambiar tu Enjoy por la misma con nuevo vencimiento a la venta.Para hacer el cambio primero activá tu enjoy ingresando el código, luego en tu nombre de usuario la opción Regalos recibidos -> cambiar regalo.
                Vas a poder cambiarlo a crédito (válido por 1 año y por el valor abonado por tu código), por otro Enjoy o el mismo con nuevo vencimiento a la venta. Luego de los 60 días desde el límite del uso, lamentablemente, no será posible cambiar o extender el código. 
            </p>
        </article>
      
        <article>
            <h3>¿Perdí la tarjeta Enjoy, qué puedo hacer?</h3>
            <p>
                Una vez que registres el código Enjoy en nuestra web siempre vas a poder ver el mismo y descargarlo. Tenés que ingresar en https://www.enjoy.com.ar/login con tu mail y contraseña y luego encontrarlo en tus regalos recibidos. Si no lo habías registrado la única forma en que podemos rastrear es que nos indiques los datos completos de la compra y/o la factura.
            </p>
        </article>
        <article>   
            <h3>¿Puedo usar mi Bigbox más de una vez?</h3>
            <p>
                No, podrás elegir una de las experiencias que conforman el catálogo del regalo. Al momento de reservar se debe brindar el código asociado a tu Enjoy.
            </p>
        </article>
        <article>   
            <h3>¿Cómo se reserva la experiencia?</h3>
            <p>
                Para reservar comunicate directamente con el lugar (los datos de contacto figuran en la descripción!) y hacé tu reserva indicando el código de tu Enjoy. Todas las reservas se realizan con anticipación y se encuentran sujetas a disponibilidad y condiciones del prestador de la experiencia.
            </p>
        </article>
        <article id="lastArticle">   
            <h3>¿Qué pasa si pierdo mi código?</h3>
            <p>
                Si cuando recibiste el regalo, abriste el código en nuestra web, podrás verlo si ingresas con tu usuario y luego en regalos recibidos.  Si no lo habías abierto y recibiste un Enjoy físico, es necesario que nos indiques los datos de la compra para que podamos rastrearlo.
            </p>
        </article>
  
    </section>
    </main>

    <%- include("../partials/footer")  %> 

</body>