<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    
    <main> 
        <section id="mainOne">
            <h2><i class="fas fa-arrow-left"></i><strong>Tu Carrito</strong></h2>
        </section>
        <section class="dflex" id="mainTwo">
            <h2>Gastronomía</h2>
            <img src="/images/gastronomia.jpeg" alt="">
            <h5>Gastronomía</h5>
            <article class="dflex">
                <p><i class="fas fa-user-friends"></i> Para dos personas</p>
                
                <p><i class="fas fa-gift"></i> Contiene 60 opciones</p>
                <p><strong>$4.500</strong></p>
                <P><i class="fas fa-plus"></i> <input type="number" min="1" placeholder="1"> <i class="fas fa-minus"></i></P>
            </article>
        </section>
        <section class="dflex" id="mainThree">
            <h2><strong>Resumen de compra</strong></h2>
            <p class="infoCompra">Gastronomía</p>
            <p class="infoCompra">$4.500</p>
            <p class="infoCompra"><strong>TOTAL</strong></p>
            <P class="infoCompra"><strong>$4.500</strong></P>
        </section>
        <section id="mainFour">
            <form action="GET">
                <fieldset>
                    <input type="text" placeholder="Ingresá acá tu cupón de descuento">
                </fieldset>
            </form>
        </section>
        <section class="dflex" id="mainFive">
            <button type="button"><strong>C o n t i n u a r</strong></button>
        </section>
    </main>
    <%- include('../partials/footer') %> 
    
</body>
</html>