<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 

    <main>
        <h1>CATEGORÍAS</h1>
        <section class "categorias">
        <ul>
            <li>
                <picture class= "imagenProducto">
                <img src="/images/gastronomia4.png" alt="gastronomia">
                </picture>
                <h5><a href="/products/categories/gastronomia">Gastronomía</a></h5>
            </li> 

            <li>
                <picture class= "imagenProducto">
                <img src="/images/aventura.png" alt="aventura">
                </picture>
                <h5><a href="/products/categories/aventura">Aventura</a></h5>
            </li>
            
            <li>
                <picture class= "imagenProducto">
                <img src="/images/spa.png" alt="spa">
                </picture>
                <h5><a href="/products/categories/estarBien">Estar Bien</a></h5>
            </li>
                
            <li>
                <picture class= "imagenProducto">
                 <img src="/images/entretenimiento.jpg" alt="entretenimiento">
                 </picture>
                <h5><a href="/products/categories/entretenimeinto">Entretenimiento</a></h5>
            </li>

            <li>
                <picture class= "imagenProducto">
                <img src="/images/estadias.jpg" alt="estadias">
                </picture>
                <h5><a href="/products/categories/estadias">Estadías</a></h5>
            </li>
        </ul>
    </section>
    </main>

    <%- include('../partials/footer') %> 
    
</body>
</html>