<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 

    <main>
        <h1>CATEGORÍAS</h1>

       <li>
           <h5><a href="/products/categories/gastronomia">Gastronomía</a></h5>
       </li>
       
       <li>
            <h5><a href="/products/categories/aventura">Aventura</a></h5>
        </li>

        <li>
            <h5><a href="/products/categories/estarBien">Estar Bien</a></h5>
        </li>

        <li>
            <h5><a href="/products/categories/entretenimeinto">Entretenimiento</a></h5>
        </li>

        <li>
            <h5><a href="/products/categories/estadias">Estadías</a></h5>
        </li>
        
    </main>

    <%- include('../partials/footer') %> 
    
</body>
</html>