<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 

    <main>
        <h1>CATEGORÍAS</h1>

       <li>
           <h5><a href="">Gastronomía</a></h5>
       </li>
       
       <li>
            <h5><a href="">Aventura</a></h5>
        </li>

        <li>
            <h5><a href="">Estar Bien</a></h5>
        </li>

        <li>
            <h5><a href="">Entretenimiento</a></h5>
        </li>

        <li>
            <h5><a href="">Estadías</a></h5>
        </li>
        
    </main>

    <%- include('../partials/footer') %> 
    
</body>
</html>