
<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %>
   
<main class="main">
                 <h1 class="titulo">Mis Compras:</h1>
              
    <section class="contenedor">

        <p class="subTitul">Todavía no compraste ningún producto!</p>

        <p class="nuestasExpe">Encontrá todas nuestras experiencias aca...</p>

        <a href="/categories" class="enlace">Ver categorias</a>

    </section>    

</main>
   
 
     <%- include('../partials/footer') %>
 
</body>
</html>
