
<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/<%=style%>.css">
<body>
    <%- include('../partials/header') %>
   
<main class="main">
                 <h1 class="titulo">Mis Compras:</h1>

                 <picture class="icono">
                    <i class="fa-duotone fa-star-exclamation"></i>
                </picture>

    <section class="contenedor">

        <p class="subTitul">Todavia no compraste ningun producto!!</p>

        <p class="nuestasExpe">Encontra todas nuestras experiencias aca...</p>

        <a href="/categories" class="enlace">ver categorias</a>

    </section>    

</main>
   
 
     <%- include('../partials/footer') %>
 
</body>
</html>
