* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.dflex{
    display: flex;
    flex-wrap: wrap;
}

main{
    font-family: 'Montserrat', sans-serif;
}

#mainOne{
    color: #5A2083;
    padding: 2rem;
}

#mainTwo{
    border: solid 1.5px #5A2083;
    margin-left: 2rem;
    box-shadow: 0px 2px 2px #88888880;
    width: 85%;
    position: relative;
    transition: box-shadow 200ms;
}

#mainTwo:hover{
    box-shadow: 0px 0px 10px #5A2083;
}

#mainTwo h2{
    width: 100%;
    background-color: #d9bbf9;
    opacity: 0.5;
    color: white;
    text-align: center;
    font-family: 'Life Savers', cursive;
    padding: 5px;
}

#mainTwo article{
    max-width: 53%;
}

main img{
    width: 45%;
}

#mainTwo h5{
    position: absolute;
    left: 30px;
    top: 130px;
    font-family: 'Life Savers', cursive;
    font-size: 1rem;
    color: #5A2083;

}

#mainTwo input{
    width: 25px;
    border: solid 1px black
}

#mainTwo p{
    display: block;
    width: 100%;
    margin: 0.5rem;
    font-weight: bold;
}

#mainThree{
    border-radius: 10px;
    background-color: #C4C4C4;
    opacity: 90%;
    width: 70%;
    margin-left: 2rem;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    transition: box-shadow 200ms;
}

#mainThree:hover{
    box-shadow: 0px 0px 10px #8d8b8b;
}
#mainThree h2{
    width: 100%;
}

.infoCompra{
    flex-grow: 1;
    margin: 1rem;
    text-align: left;
}


#mainFour input{
    border-radius: 5px;
    background-color: #ebebebec;
    opacity: 90%;
    width: 70%;
    padding: 10px;
    margin-top: 0.05rem;
    margin-left: 1.25rem;
}

#mainFive button{
    border-radius: 10px;
    background-color: #b47cde;
    color: white;
    opacity: 90%;
    width: 35%;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 2rem;
    font-size: 0.75rem; 
    transition: color 150ms;
}

#mainFive button:hover{
    color: #5A2083;
}

#mainFive{
    justify-content: flex-end;
}

footer{
    background-color: #ebebebec;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

footer h2{
    width: 100%;
}

footer a{
    text-decoration: none;
    color: black;
}

#footerOne{
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

#footerOne nav{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#footerOne nav a{
    margin-top: 1.5rem;
}

#footerTwo{
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

#footerTwo nav{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#footerTwo nav a{
    margin-top: 1.5rem;
}

#footerThree{
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

#footerThree nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    font-size: 2rem;
}


#footerThree h2{
    margin-bottom: 1.5rem;
}

#footerThree input{
    border-radius: 10px;
    border: solid 1px black;
    padding: 8px;
    width: 90%;
    margin-bottom: 1.5rem;
}

#footerFour{
    width: 100%;
    border-top: solid 1px #7A7777;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

#footerFour nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.footerFourLeft{
    border-right: solid 1px #7A7777;
}

@media screen and (min-width: 361px) {  
    .fa-bars{
        width: 30px;
    }

    header img{
        width: 50%;
        height: 30%;
    }
    
    #barraSuperior{
        margin-bottom: 0;
    }

    #barraSuperior nav{
        width: 45%;
        gap: 8px;
    }

    #barraSuperior nav p{
        display: inline;
    }
    
    #barraInferior{
        margin-top: 0;
    }

    #barraInferior button{
        max-width: 15%;
    }

    header i{
        font-size: 20px;
    }

    main{
        margin-left: 10%;
    }

    #mainTwo{
        width: 30rem;
    }

    #mainTwo article{
        margin-top: 0.5rem;
    }

    main img{
        max-width: 10rem;
        margin-right: 3%;
    }

    
    #mainTwo h5{
        left: 45px;
        top: 150px;
    }

    #mainThree{
        max-width: 20rem;
    }

    #mainFour input{
        max-width: 15rem;
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        padding-right: 0;
    }

    #footerOne{
        max-width: 26%;
        text-align: left;
        flex-grow: 1;
    }

    #footerTwo{
        max-width: 26%;
        text-align: left;
        flex-grow: 1;
    }

    #footerThree{
        display: inline-flex;
        max-width: 45%;
        flex-grow: 1;
        align-items: flex-start;
        padding: 0;
    }
    
    #footerThree h2{
        margin-top: 1rem;
    }

    .newsletter{
        width: 100%;
    }

    #footerThree nav{
        justify-content: center;
        gap: 2rem;
    }

    #footerFour nav a{ 
        padding: 1rem;
    }
}

@media screen and (min-width: 769px){
    header{
        padding: 2px;
        margin: 5px;
    }

    header img{
        width: 60%;
        height: 40%;
    }

    #barraSuperior nav{
        width: 40%;
    }

    #mainFive button{
        width: 250px;
        margin-right: 10%;
    }    
}