body{
    font-family: 'Montserrat', sans-serif;
}

main{
    margin: 2rem 1rem;
}
h1{
    text-align: center;
    font-weight: bolder;
  
    border-radius: 0.5rem;
    margin: auto;
    max-width: 90%;
}

h5{
    font-size: 1.5rem;
}

p{
    font-weight: 700;
}

ul, li {
    list-style: none;
}

img{
    max-width: 100%;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.categorias{
    display: flex;
    flex-direction: column;
    margin-left: -3rem;
    justify-content: center;
    align-items: center;
}

li img{
    width: 80%;
    background-color: rgb(217, 187, 249, 55);
    border: 1px solid #371452;
    border-radius: 3px;
    box-shadow: 0px 0px 8px rgb(100, 100, 100);
    opacity: 90%;
}