*{

    margin: 0;
    box-sizing: border-box;
}

body{

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    
}

main{
    margin: 0.25rem;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.corporativasArticle{
  text-align: center;
}
 

.titulo{
    font-size: 1.5rem;
    text-align: center;
    font-weight: bolder;
    background-color: #D9BBF9 ;
    border-radius: 0.5rem;
    margin: 2.5rem auto;
    width: 90%;
  }

  .corporativasArticle p{
    margin: 1rem;
  }

@media screen and (min-width: 678px) {
  .titulo{
    width: 100%;
    padding: 0.5rem;
  }
}