*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dflex{
    display: flex;
    flex-wrap: wrap;
}

main{
    font-family: 'Montserrat', sans-serif;
    margin: 0.25rem;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    margin: 1rem;
    font-size: 30px;
    color:#5A2083;
}

 main fieldset {
    display: block;
    width: 100%;
    padding: 0.6rem;
    box-shadow: 0px 0px 5px #b47cde;
    border-radius: 20px;
    transition: all 200ms;
    margin: 1rem;
    text-align: center;
    justify-content: center;
}

main fieldset:hover{
    box-shadow: 0px 0px 10px #5A2083;
}

fieldset select{
    border: solid 1px #b47cde;
}

fieldset textarea{
    border: solid 1px #b47cde;
}

select, textarea{
    margin-left: 1px;
}

form label{
    display: block;
    width: 100%;
    margin: 0.5rem 0;
}

main button{
    border:5px;
    background-color: #b47cde;
    width: 40%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    transition: all 200ms;
    margin-left: 30%;
}

main button:hover{ 
    color: #5A2083;
    background-color: #d9bbf9;
}

.fa-star{
    color: #5A2083;
}

@media screen and (min-width: 361px){
    main fieldset{
        max-width: 60%;
        margin-left: 21%;
    }
    main button{
        max-width: 30%;
        margin-left: 35%;
    }
}

@media screen and (min-width: 769px){
    main fieldset{
        max-width: 50%;
        margin-left: 26%;
    }
    main button{
        max-width: 20%;
        margin-left: 40%;
    }
}