.dflex{
    display: flex;
    flex-wrap: wrap;
    margin: none;
}
.dflexn{
    display: flex;
    flex-wrap: nowrap;
    margin: none;
}

#barraSuperior{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
  
}
#barraSuperior nav{
    width: 40%;
}
#barraSuperior section{
    align-items: center;
}

#iconos{
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

header i{
    color: #5A2083;;
    transition: color 150ms;
}

header i:hover{
    color: #b47cde;
}

nav.dflex{
    flex-wrap: nowrap;
    margin: auto;
    width: 10%;
}
nav.dflex a{
    display: flex;
    flex-wrap: nowrap;
}

nav.dflex p{
    flex-wrap: nowrap;
    margin: auto;
    color: #371452;
}
.fa-bars{
    border: solid 1px #371452;
    padding: 3px;
    border-radius: 6px;
    text-align: center;
    width: 25px;
    color: #5A2083;
    margin: 5px;
}
.nav1 ul{
	list-style: none;
 
}
.nav1{
    position: relative;
    left:-1rem;
}
.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	color: black;
	text-decoration: none;
}
.submenu{
   z-index:2; 
    position: absolute;
    border-radius:3px;
	border: 1px solid rgb(180, 124, 222);
    color:black;
	visibility: hidden;
}

.submenu li a{
    z-index: 2;
	display: block;
	color:black;
	text-decoration: none;
    font-weight: bold;
    font-size:0.9rem;
    padding: 0.5rem 2rem ;
}
.submenu li a:hover{
    z-index: 2;
    background-color:rgb(55,20,82);
    color:white;
     }

.menu li:hover .submenu{
    z-index: 2;
	visibility: visible;
    background-color: #ebebebec;
}

header img{
    width: 50%;
}

#barraSuperior nav p{
  display: none;
  
}

#barraSuperior nav{
    width: 30%;
    justify-content: right;
    gap: 10px;
    width: 10%;
    display: flex;
    flex-direction:row;
    margin-right: 0;
    
}

#barraSuperior nav a{
    color: black;
    text-decoration: none;
}

#barraInferior{
    justify-content: right;
    align-items: center;
    gap: 4px;
    margin: 2%;
}

#barraInferior button{
    padding: 8px;
    border-radius: 8px;
    width: 30%;
}

#barraInferior button a{
    text-decoration: none;
}

#headerButtonLeft{
    border: solid 1px #371452;
    background-color: white;
   
}


#headerButtonRight{
    background-color: #371452;
   
}

#headerButtonRight a{
    color: white;
}
#botonlogout{
    background-color: #371452;
    color: white;
    width:6rem !important;
  
}
#headerButtonLeft a{
    color: #371452
}

@media screen and (min-width: 361px) {  
    header{
        padding: 2px;
        margin: 5px;
    }

    header img{
        width: 60%;
        height: 40%;
    }

    #barraSuperior nav{
        width: 45%;
    }

    
    #mainFive button{
        width: 250px;
        margin-right: 10%;
    } 
  
    

@media screen and (min-width: 769px) {  
    header{
        padding: 2px;
        margin: 5px;
    }
  
    header img{
        width: 60%;
        height: 40%;
    }

  
    #barraSuperior nav{
        max-width: 40%;
    }
    #barraSuperior nav p{
        display: block;
        display: contents;
      }
   
    #mainFive button{
        width: 250px;
        margin-right: 10%;
    }  
   
        nav.dflex p{
        font-size: 21px;
       color: #371452;
       font-weight: bold;
       display: block;
    
    }
}
    


@media screen and (min-width: 1200px) {  
    .hide {
        display:none;
    }
    #barraSuperior nav{
        margin-right: 0;
        width: 40%;
    }
    #barraSuperior nav a{
        font-size: 2rem;
        margin-right: 1rem;
    }

    header{
        padding: 2px;
        margin: 5px;
    }
  
    header img{
   width: 80%;
    }

    #mainFive button{
        width: 250px;
        margin-right: 10%;
    } 
    #barraSuperior{
        display: flex;
        justify-content: right;
    }
    
    #barraSuperior nav{
        width: 45%;
        
    }

    #barraSuperior nav p{
    display: flex;
  }
  nav.dflex a{
      font-size: 23px;
      margin: 3px;
  }
  nav.dflex p{
    font-size: 23px;
   color: #371452;
   font-weight: bold;

}
    #barraInferior button{
        font-size: 20px;
        padding: 8px;
        border-radius: 10px;
        width: 25%;     
        margin-top: -15px;
        }
.fa-user{
    margin-top:-15px;
    font-size: 25px;
}
.fa-bars{
    border: solid 1px #371452;
    padding: 6px;
    border-radius: 6px;
    text-align: center;
    width: 30px;
    color: #5A2083;
    margin: 5px;
}
.menu li:hover .submenu{
        width:22rem
} 
.submenu li a{
font-size:1.5rem;    
}
 } 
 
}
