* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}



/**Main**/
img{
    max-width: 100%;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

#titulo{
    color:white;
    align-items: center;
}

#titulo:hover { 
    color: #371452
    ; }
body{
    font-family: 'Montserrat', sans-serif;
}
.tituloPortada{
    position: relative;
    margin-top: 40px;    
    justify-content: center;
    display: flex;
}
.titulo{
    color:white;
    background-color: rgb(180, 124, 222, 30);
    opacity: 70%;
    border-radius: 5px;
    font-size: 1rem;
    position: absolute;
    padding: 1rem;
    box-shadow: 1px 2px 2px 2px rgb(0 0 0 / 15%);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 1;
    margin-top: -2rem;
    flex-wrap: wrap;
}

.navegacionPrincipal{
    justify-content: space-around;
		flex-wrap: wrap;
		display: flex;
        margin: 1rem;
}
.nPrincipal{
    width: 100%;
}
.regala, .motivos, .ideas{
    position: relative;
}
.lampara{
    display: none;
    
}
#imagenNavegacion{
    max-width: 5.6rem;
}

.navegacion{
    margin-top: 1rem;
    border-radius: 5px;
    align-items: center;
    border: 1px solid  #371452;
    display: flex;
    justify-content: center;
    background-color: rgb(217, 187, 249, 35);
    font-family: 'Life Savers', cursive;
    height: 4rem;
    width: 100%;
}

#tituloNavegacion{
    color:black;
}

.navSecundaria{
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}
.masVendidos, .masNuevos{
    border: 1px solid #371452;
    border-radius: 6px;
    margin:0.2rem;
    padding: 1rem 2rem;
    
}

.masVendidos{
    background-color: #5A2083;
}
.masVendidos a{
    color:white;
}

.masNuevos{
    padding: 1.5rem 2.2rem;
}

.masNuevos a{
    color:black;
}

.productos{
    display: flex;
    flex-direction: column;
    margin: 2px;
}

.producto1, .producto2, .producto3{
	padding: 1px;
	margin: 10px 5px;
	background-color: rgb(217, 187, 249, 55);
    border: 1px solid #371452;
    border-radius: 3px;
    box-shadow: 0px 0px 8px rgb(100, 100, 100);
	}

.producto1 img, .producto2 img, .producto3 img{
        width: 100%;
    }


.imagenIconos{
    position: relative;
}
.iconosImagen{
    display:flex;
    flex-direction: column;
    float: right;
}
.corazon{
    
    color: #ffffff;
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 30px;
    
}
.usuario{
    position: absolute;
    color: #ffffff;
    font-size: 30px;
    bottom: 10px;
    right: 10px;
    
}
.tituloImagen{
    position:absolute;
    color: #ffffff;
    font-weight:bolder;
    top: 25vh;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    font-size:medium;
    text-shadow: 2px 2px 2px black;
}

.caracteristicas{
    border-top: 1px solid #ebebeb;
    text-align: center;
    
}

.precio{
    letter-spacing: 0.5rem;
    font-weight: bold;
}



.banner{
    background-color: rgb(90, 32, 131, 95);
border-radius: 4px;
height: 18rem;
align-items: center;
background-size: contain;
padding: 3rem;
margin: 3rem;
display: flex;
position: relative;
    
}
.textoBanner{
    
    color:white;
    font-size: 1rem;
    max-width: 70%;
    
    
}

.botonBanner{
    display: none;
}

.botonytexto{
    display:flex;
    position:absolute;
}

.regaloGrande{
    font-size: 15rem;
    color:white;    
    opacity: 25%;
    margin: 0 2rem;
}




@media screen and (min-width: 769px) {  
    .titulo{
        font-size: 30px;
        }
    .nPrincipal{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        }
    .navegacion{
        margin-left: 0.3rem;
        padding: 3rem;
        font-size: 1.5rem;
    }
    .productos{
        flex-direction: row;
    }
    .lampara{
    
    display: block;
    }
    .masNuevos{
        padding: 1rem 2.2rem;
    }
    .masVendidos{
        padding: 1rem 2.2rem;
    }
    
    .caracteristicas{
        height: 40vh;
    }
    .botonBanner{
        border: 1px solid #371452;
        background-color: #ffffff;
        border-radius: 4px;
        position:absolute;
        margin-left:75%;
        margin-top:4.5rem;
        padding: 1rem;
        display: block;
        transition: 2s;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.8);
    }
    

    .botonBanner:hover{
        background-color: #ffffff;
        opacity: 70%;
        
    }

    .textoBanner{
        text-align: center;
    }

    .tituloImagen{
        font-size: 2.4rem;
     }

    
}
@media screen and (min-width: 1200px)  { 
    .nPrincipal{
       
        flex-direction: row;
        }
}
