* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.oculto {display:none;}

/**Main**/
img{
    max-width: 100%;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: #000000;
}

#titulo{
    color:white;
    align-items: center;
}

#titulo:hover { 
    color: #371452
    ; }
body{
    font-family: 'Montserrat', sans-serif;
}
.tituloPortada{
    position: relative;
    margin-top: 40px;    
    justify-content: center;
    display: flex;
}
.titulo{
    color:white;
    background-color: rgb(180, 124, 222, 30);
    opacity: 70%;
    border-radius: 5px;
    font-size: 1rem;
    position: absolute;
    padding: 1rem;
    box-shadow: 1px 2px 2px 2px rgb(0 0 0 / 15%);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 1;
    margin-top: -2rem;
    flex-wrap: wrap;
}

.navegacionPrincipal{
    justify-content: space-around;
		flex-wrap: wrap;
		display: flex;
        margin: 1rem;
}
.nPrincipal{
    width: 100%;
}
.regala, .motivos, .ideas{
    position: relative;
}
.lampara{
    display: none;
    
}
#imagenNavegacion{
    max-width: 5.6rem;
}

.navegacion{
    margin-top: 1rem;
    border-radius: 5px;
    align-items: center;
    border: 1px solid  #371452;
    display: flex;
    justify-content: center;
    background-color: rgb(217, 187, 249, 35);
    font-family: 'Life Savers', cursive;
    height: 4rem;
    width: 100%;
}

#tituloNavegacion{
    color:black;
}

.navSecundaria{
    display: flex;
    margin: 1.5rem;
    align-items: center;
}
.masVendidos, .masNuevos{
    border: 1px solid #371452;
    border-radius: 6px;
    margin:0.2rem;
    padding: 1rem 1rem;
    text-align: center;
}

.masVendidos{
    background-color: #5A2083;
    width: 51%;
}
.masVendidos a{
    color:white;
}

.masNuevos{
    width:49%
}

.masNuevos a{
    color:black;
}

.productos{
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
}

.producto1{
	padding: 1px;
	margin: 10px 5px;
    height: 100%;
	background-color: rgb(217, 187, 249, 55);
    border: 1px solid #371452;
    border-radius: 3px;
    box-shadow: 0px 0px 8px rgb(100, 100, 100);
    
    
	}

.producto1 img{
        width: 100%;
    }


.imagenIconos{
    position: relative;
}
.iconosImagen{
    display:flex;
    flex-direction: column;
    float: right;
}
.corazon{
    
    color: #ffffff;
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 30px;
    
}
.usuario{
    position: absolute;
    color: #ffffff;
    font-size: 30px;
    bottom: 10px;
    right: 10px;
    
}
.tituloImagen{
    position:absolute;
    color: #ffffff;
    font-weight:bolder;
    top: 25vh;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    font-size:2.5rem;
    text-shadow: 2px 2px 2px black;
}

.caracteristicas{
    border-top: 1px solid #ebebeb;
    text-align: center;
    line-height: 1.5rem;
    
}
.descripcion{
    font-weight: bold;
    margin-top: 8px 0;
}
.tituloProducto{
    text-shadow: 1px 0 black;
    font-size: 1.1rem;

}

.precio{
    letter-spacing: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
}



.banner{
    background-color: rgb(90, 32, 131, 95);
border-radius: 4px;
height: 18rem;
align-items: center;

padding: 1.7rem;
margin: 2rem 0.1rem;
display: flex;
position: relative;
    
}
.textoBanner{
    
    color:white;
    font-size: 1.2rem;
    max-width: 90%;
    text-align: center;
    font-weight: bold;
}

.botonBanner{
    display: none;
}

.botonytexto{
    display:flex;
    position:absolute;
}

.regaloGrande{
    font-size: 10rem;
    color:white;    
    opacity: 25%;
    
}




@media screen and (min-width: 769px) {  
    .titulo{
        font-size: 30px;
        }
    .nPrincipal{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        }
    .navegacion{
        margin-left: 0.3rem;
        padding: 3rem;
        font-size: 1.5rem;
    }
    .productos{
        flex-direction: row;
        flex-wrap: nowrap;
        max-height: 40rem;
        
      
    }
    .prod{
        max-height: 35rem;
    }
    
    #contenido1 #contenido2{
        display:flex;
        flex-direction: row;
    }
    .lampara{
    
    display: block;
    }
    .masNuevos{
        padding: 1rem 2.2rem;
    }
    .masVendidos{
        padding: 1rem 2.2rem;
    }
      
    .banner{
        margin: 3rem 4.6rem;
            align-items: center;
            justify-content: center;

    }

    .textoBanner{
        text-align: center;
        max-width: 90%;
    }
    .botonytexto{
        align-items: center;
    }


    .tituloImagen{
        font-size: 2rem;
     }
     .regaloGrande{
        font-size: 15rem;
        
        margin: 0 2rem;
    }

    .botonBanner{
        display: block;
        border-radius: 4px;
        margin: 1.5rem 10rem;
        padding: 0.8rem;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.8);
        border: 1px solid #371452;
        background-color: rgba(255,255,255,0.85);
    }

    .botonytexto{
        
    flex-direction: column;
    justify-content: space-between;
    
    }
    .botonBanner a{
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    
}
@media screen and (min-width: 1200px)  { 
    .nPrincipal{
       
        flex-direction: row;
        }
        
        

        .textoBanner{           
            font-size: 1.5rem;
        }
        .productos{
            margin: 2rem 4rem;
        }
        .producto1 img{
            max-height: 25rem;
        }

        .botonBanner{
            
            border-radius: 4px;
            padding: 1rem 0;
            transition: 2s;
            width: 50%;
        }
        
    
        .botonBanner:hover{
            background-color: rgb(217, 187, 249, 55);
            opacity: 70%;            
        }

        
}
