* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.dflex{
    display: flex;
    flex-wrap: wrap;
}

#barraSuperior{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
    padding: 2px;
}

#barraSuperior section{
    align-items: center;
}

.fa-bars{
    border: solid 1px #371452;
    padding: 3px;
    border-radius: 6px;
    text-align: center;
    width: 25px;
}

header img{
    width: 7rem;
    margin-left: 4px;
}

#barraSuperior nav p{
    display: none;
}

#barraSuperior nav{
    width: 30%;
    justify-content: right;
    gap: 10px;
}

#barraSuperior nav a{
    color: black;
}

#barraInferior{
    justify-content: right;
    align-items: center;
    gap: 4px;
    margin: 2%;
}

#barraInferior button{
    padding: 8px;
    border-radius: 8px;
    width: 25%;
}

#headerButtonLeft{
    border: solid 1px #371452;
    background-color: white;
}

#headerButtonRight{
    background-color: #371452;
}

#headerButtonRight a{
    color: white;
}

/** login **/
main{
    text-align: center;
}
.tituloLogin{
    margin:30px;
    font-weight: bolder;
    font-size: 30px;
    color:#5A2083;
    }

.inicioSesion {
    text-align: center;
    box-shadow: 0px 0px 5px #b47cde;
    border-radius: 20px;
        max-width: 50%;
        margin: auto;
        padding: 30px 30px;
        justify-content: center;
        align-items: center;
        
}
.inicioSesion input{
    align-items: center;
        border: none;
        width: 100%;
        height: 40px;
        margin-bottom: 15px;
        border-radius: 10px;
        font-size: 20px;
     background-color:#d9bbf9;
    
}
.form{
    margin: 15px 10px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    gap: 5px;
    padding-left: 10px;
    justify-content: center;
    border: thistle;
}

main button{
    border: 5px;
    background-color: #b47cde;
    max-width: 25%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 20px;
    color: white;
    border-radius: 5%;
    transition: background-color 200ms;
}
main button:hover{
    background-color: #d9bbf9;
}

main button a{
    border: 0;
    color: white;
    text-decoration: none;
}

.olvide-password{
right: 100px;
text-decoration: none;
}

.redes{
    font-size: 12px;
    text-decoration: none;
    margin-right: 300px;
}
.redes a {
    border: solid 2px  rgb(20, 40, 220);
    margin: 10px;
}
<<<<<<< HEAD
=======

.burger-menu{
    display:none;
}
>>>>>>> 9c2fbfafbe1406492bff047245b45ef045eb855c
/** footer **/



footer{
    background-color: #ebebebec;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

footer h2{
    width: 100%;
}

footer a{
    text-decoration: none;
    color: black;
}

#footerOne{
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

#footerOne nav{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#footerOne nav a{
    margin-top: 1.5rem;
}

#footerTwo{
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

#footerTwo nav{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#footerTwo nav a{
    margin-top: 1.5rem;
}

#footerThree{
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

#footerThree nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    font-size: 2rem;
}


#footerThree h2{
    margin-bottom: 1.5rem;
}

#footerThree input{
    border-radius: 10px;
    border: solid 1px black;
    padding: 8px;
    width: 90%;
    margin-bottom: 1.5rem;
}

#footerFour{
    width: 100%;
    border-top: solid 1px #7A7777;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

#footerFour nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.footerFourLeft{
    border-right: solid 1px #7A7777;
}

@media screen and (min-width: 361px) {  
    .fa-bars{
        width: 30px;
    }

    header img{
        width: 50%;
        height: 30%;
    }
    
    #barraSuperior{
        margin-bottom: 0;
    }

    #barraSuperior nav{
        width: 60%;
        gap: 15px;
    }

    #barraSuperior nav p{
        display: inline;
    }
    
    #barraInferior{
        margin-top: 0;
    }

    #barraInferior button{
        max-width: 15%;
    }

    header i{
        font-size: 20px;
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        padding-right: 0;
    }

    #footerOne{
        max-width: 26%;
        text-align: left;
        flex-grow: 1;
    }

    #footerTwo{
        max-width: 26%;
        text-align: left;
        flex-grow: 1;
    }

    #footerThree{
        display: inline-flex;
        max-width: 45%;
        flex-grow: 1;
        align-items: flex-start;
        padding: 0;
    }
    
    #footerThree h2{
        margin-top: 1rem;
    }

    .newsletter{
        width: 100%;
    }

    #footerThree nav{
        justify-content: center;
        gap: 2rem;
    }

    #footerFour nav a{ 
        padding: 1rem;
    }
}

@media screen and (min-width: 769px){
    header{
        padding: 2px;
        margin: 5px;
    }

    header img{
        width: 60%;
        height: 40%;
    }

    #barraSuperior nav{
        width: 40%;
    }
    
    #mainFive button{
        width: 250px;
        margin-right: 10%;
    }    
}
