* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    text-align: center;
}

/** login **/

.tituloLogin{
    margin:30px;
    font-weight: bolder;
    font-size: 30px;
    color:#5A2083;
    }

.inicioSesion {
    text-align: center;
    box-shadow: 0px 0px 5px #b47cde;
    border-radius: 20px;
        max-width: 50%;
        margin: auto;
        padding: 30px 30px;
        justify-content: center;
        align-items: center;
        
}
.inicioSesion input{
    align-items: center;
        border: none;
        width: 100%;
        height: 40px;
        margin-bottom: 15px;
        border-radius: 10px;
        font-size: 20px;
     background-color:#d9bbf9;
    
}
.form{
    margin: 15px 10px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    gap: 5px;
    padding-left: 10px;
    justify-content: center;
    border: thistle;
}

main button{
    border: 5px;
    background-color: #b47cde;
    max-width: 25%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 20px;
    color: white;
    border-radius: 5%;
    transition: background-color 200ms;
}
main button:hover{
    background-color: #d9bbf9;
}

main button a{
    border: 0;
    color: white;
    text-decoration: none;
}

.olvide-password{
right: 100px;
}

.redes{
    font-size: 12px;
    text-decoration: none;
    margin-right: 300px;
}
.redes button{
    margin-inline: 5px;
   margin-block: 30px;
}

/** footer **/

.flex{
    display: flex;
    flex-wrap: wrap;
}

.burger-menu{
    display:none;
}
@media screen and (min-width: 361px) {  
    footer{
        display: flex;
        flex-wrap: wrap;
        padding-right: 0;
    }

    #footerOne{
        max-width: 26%;
        text-align: left;
        flex-grow: 1;
    }

    #footerTwo{
        max-width: 26%;
        text-align: left;
        flex-grow: 1;
    }

    #footerThree{
        display: inline-flex;
        max-width: 45%;
        flex-grow: 1;
        align-items: flex-start;
        padding: 0;
    }
    
    #footerThree h2{
        margin-top: 1rem;
    }

    .newsletter{
        width: 100%;
    }

    #footerThree nav{
        justify-content: center;
        gap: 2rem;
    }

    #footerFour nav a{ 
        padding: 1rem;
    }
}
