* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
main{
    text-align: center;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.crearCuenta, .datos{
    text-align: center;
    margin-bottom: 1.5rem;
}

.form{
    margin: 15px 10px 10px 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    gap: 5px;
}

.form select{
    border: solid 1px #b47cde;
}

.registro{
    box-shadow: 0px 0px 5px rgb(100, 100, 100);
    border-radius: 20px;
    font-weight: bold;
    margin: 15px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.formreg input{
    border: none;
    width: 80%;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
    border: solid 1px #b47cde;
}

main button{
    background-color: #b47cde;
    color: white;
    width: 40%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 20px;
    border-radius: 5%;
    transition: background-color 200ms;
}
main button:hover{
    background-color: #d9bbf9;
}

.terms{
    margin: 2px;
}

.ultimaSeccionMain{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.ultimaSeccionMain button{
    align-self: center;
}

@media screen and (min-width: 361px) {  
    #main{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    main button{
        max-width: 25%;
    }

    .formReg{
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    main label{
        display: block;
        width: 100%;
    }

    .registro{
        width: 85%;
        align-self: center;
    }

  
}

@media screen and (min-width: 769px){
    main button{
        max-width: 20%;
    }

    .registro{
        max-width: 55%;
    }
    
}