* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    
}
 .div{
   
    border-radius: 50px;
    border: 2.5px black solid;
    border-collapse: separate;
    border-spacing: 20px; 
    border-color: #B47CDE; /*color forde tarjeta*/
    background-color: #ffffff; /*color fondo del nombre*/
  
} 

.nombres{
    border-radius: 100px;
    border: 2.5px solid #B47CDE; /*color del nombre*/
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
     margin: 2.5rem auto;
     background-color: #D9BBF9; /*color fondo del nombre*/
     margin-top: 20px;
     padding: 10px;
     border-radius: 3.5rem;
}
.email{
    text-align: center;
}
div img{
    width: 18rem;
}
.actividad{
   justify-content: center;
}
.titulo{
    font-size: 2.5rem;
    text-align: center;
    color: #9847ee ; /* color del titulo*/
    border-radius: 0.5rem;
    margin: 2.5rem auto;
    max-width: 90%;
}


#paragrah{
    font-weight: bold;
    max-width: 85%;
    margin: auto;
}

 .fa-pen{
    font-size: 1.5rem;
    color: #5A2083;
    margin: 2px;    transition: color 150ms;
}

  @media screen and (min-width: 361px) { /* movil */
   
      div{
        justify-content: center;
        border-radius: 20px;
       
      }
      h1{
        font-size: 30px;
      }
      div img{
         width: 80px;
        
      }

    
    .actividad{
        justify-content: center;
    }
    .datos{
        justify-content: center;
    }
    .fas fa-pen{
        font-size: 1.5rem;
        color: #5A2083;
        margin: 2px;
    }
}
@media screen and (min-width: 769px){
    
 
}
@media screen and (min-width: 1200px){
    
    
}