* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.flexU{
    display: flex;
    justify-content: center;
}

.div{
width: 85%;
margin: 2rem 2rem;
text-align: center;
padding: 35px 35px;
margin-left: 2rem;
box-shadow: 0px 0px 5px #b47cde;
border-radius: 10px;
}
.div:hover{
    transition: box-shadow 200ms #5A2083;
}

.foto{
    
        height: 60%;
        width: 60%;
        object-fit: cover;
}
.fa-trash, .fa-pen{
    font-size: 1rem;
    color: #5A2083;
}
.iconos{
    display: flex;
    justify-content:center;
}
.deleteButton{
    background-color: white;
}

#paragrah{
    font-weight: bold;
    margin-bottom:0.5rem;
}
.nombres{
    color:#5A2083;
    font-weight: bold;
    font-size:35px;
}
.email{
    margin-bottom:1rem;
}
 .datos{
     align-items:flex-end;
 }

 @media screen and (min-width: 1200px){

    .div{
        width: 90%;
        padding:35px;
        }
   

 }

