<%- include('./partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('./partials/header') %> 

    <main>
        <form action="GET">
            <fieldset class="fieldsetMain">
                <h1>Llegó tu hora !</h1>
                <h4>Cargá tu código Enjoy y averiguá más de tu regalo !</h4>
                <section>
                    <input type="number" min="0" max="9">
                    <input type="number" min="0" max="9">
                    <input type="number" min="0" max="9">
                    <input type="number" min="0" max="9">
                    <input type="number" min="0" max="9">
                    <input type="number" min="0" max="9">
                    <input type="number" min="0" max="9">
                    <input type="number" min="0" max="9">
                </section>
            </fieldset>
            
            <button type="submit">Ver mi regalo</button>
        </form>
    </main>

    <%- include('./partials/footer') %> 
</body>
</html>