<%- include('./partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('./partials/header') %> 

    <main>
        <form action="GET">
            <h1>Llegó tu hora !</h1>
            <h6>Cargá tu código Enjoy y averiguá más de tu regalo !</h6>
            <fieldset>
                <legend><h3>Ingresá tu código Enjoy :</h3></legend>
                <section>
                    <input type="number">
                    <input type="number">
                    <input type="number">
                    <input type="number">
                    <input type="number">
                    <input type="number">
                    <input type="number">
                    <input type="number">
                </section>
            </fieldset>
            <p><i class="far fa-question-circle"></i>¿Dónde lo encuentro?</p>
        </form>
    </main>

    <%- include('./partials/footer') %> 
</body>
</html>