<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enjoy</title>
    <script src="https://kit.fontawesome.com/aa9ea7d08e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/cart.css">
</head>
<body>
    <header> Lugar del encabezado </header>

    <main> 
        <section>
            <h2><i class="fas fa-arrow-left"></i> Tu Carrito</h2>
            <article>
                <h2>Gastronomía</h2>
                <picture>Acá va una imagen</picture>
                <p>Gastronomía</p>
                <section class="infromation">
                    <p><i class="fas fa-user-friends"></i> Para dos personas</p>
                    <p><i class="fas fa-calendar"></i> Válido hasta el 31/03/2022</p>
                    <p><i class="fas fa-gift"></i> Contiene 60 opciones</p>
                    <p><strong>$4.500</strong></p>
                    <P><i class="fas fa-plus"></i> <input type="number" min="1"> <i class="fas fa-minus"></i></P>
                </section>
                <section>
                    <h2>Resumen de compra</h2>
                    <div>
                        <p>Gastronomía</p>
                        <p>$4.500</p>
                    </div>
                    <div>
                        <p><strong>TOTAL</strong></p>
                        <p><strong>$4.500</strong></p>
                    </div>
                    <input type="text" id="cupon" placeholder="Ingresá acá tu cupón de descuento">
                    <section>
                        <button type="button">Continuar</button>
                    </section>
                </section>
            </article>
        </section>
       
    </main>

    <footer>
        <section>
            <h2>ENJOY</h2>
            <a href="#" target="blank">¿Quienes somos?</a>
            <a href="#" target="blank">Trabajá con nosotros</a>
            <a href="#" target="blank">Puntos de venta</a>
            <a href="#" target="blank">Uní tu experiencia</a>
           
        </section>

        <section>
            <h2>AYUDA</h2>
            <a href="#" target="blank">¿Cómo comprar?</a>
            <a href="#" target="blank">Contacto</a>
            <a href="#" target="blank">Preguntas frecuentes</a>
            <a href="#" target="blank">Devoluciones</a>
        </section>

        <section>
            <div>
                <h2>SUSCRIBITE AL NEWSLETTER</h2>
                <input type="email" placeholder="Tu correo electrónico">
            </div>
            <div>
                <h2>NUESTRAS REDES SOCIALES</h2>
                <ul>
                    <li><i class="fab fa-instagram"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-facebook"></i></li>
                    <li><i class="fas fa-at"></i></li>
                </ul>
            </div>
        </section>
        <section>
            <p><a href="#">Políticas y garantías</a> | <a href="#">Términos y condiciones</a></p>
        </section>
    </footer>
</body>
</html>