<%- include('./partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">
<body>
    <%- include('./partials/header') %> 
   
    <main>
        <section>
         <h1>qué es ENJOY</h1>

            <h2>Un regalo único para disfrutar de nuevas experiencias!!</h2>
                  <p>Elegí entre 5 categorías  con las temáticas: Bienestar, Gastronomía y Aventuras, Entretenimiento y Estadías.
                    Disfruta de una o mas experiencias que te brinda ENJOY y descubri nuevas sensaciones.</p>
       </section>
    </main>
    <%- include('./partials/footer') %> 
    
</body>
</html>