<%- include('./partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">
<body>
    <%- include('./partials/header') %> 
   
    <main>
        <section class= "queEs">
         <h1>¿Qué es ENJOY?</h1>

            <h2>¡¡Un regalo único para disfrutar de nuevas experiencias!!</h2>
                  <p class="subtitulo">Elegí entre 5 categorías  con las temáticas: Bienestar, Gastronomía y Aventuras, Entretenimiento y Estadías.
                    Disfrutá de una o más experiencias que te brinda ENJOY y descubrí nuevas sensaciones.</p>
       </section>
       <section class= "comoFunciona">
           <h3>¿Cómo funciona?</h3>
           <div class= "linea"></div>
           <div class="pasosAseguir">
            <div class="paso">
                <i class="fas fa-gifts iconos1"></i>
                <h4>Elegir</h4>
                <p class="explicacion">Encontrá el ENJOY perfecto para cada ocasión</p>

            </div>
            <div class="paso">
                <i class="fas fa-desktop iconos1"></i>
                <h4>Descubrí las experiencias</h4>
                <p class="explicacion">Quien recibe el regalo, ingresa su código de voucher y elige la experiencia que desea vivir.</p>

            </div>
            <div class="paso">
                <i class="far fa-grin-stars iconos1"></i>
                <h4>Disfrutar</h4>
                <p class="explicacion">Reservas online y vivís la experiencia.</p>

            </div>    
           </div>
       </section>
    </main>
    <%- include('./partials/footer') %> 
    
</body>
</html>