<%- include('./partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('./partials/header') %> 

    <main>
        <article class="corporativasArticle">
            <h1 class="titulo">Contactanos para ventas corporativas !</h1>
            <h2>E-mail :</h2>
            <p>corporativo@enjoy.com.ar</p>
            <h2>Teléfonos:</h2>
            <p>+54 11 7889-0987</p>            
            <p>4578-9080</p>
            <p>Horario de atencion al cliente : </p>
            <p>Lunes a viernes de 9 a 18 hs.</p>
        </article>
    </main>

    <%- include('./partials/footer') %> 
</body>
</html>