<%- include('./partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('./partials/header') %> 

    <main>
        <fieldset class="fieldsetMain"></fieldset>
        <form action="GET">
            <h1>Regalemos vivir la vida</h1>
              <h2>Regala experiencias a tus colaboradores y clientes para disfrutar dentro y fuera de casa.</h2>
               
            <div>
              <ul>
                  <li>Experiencias premium.</li>
                  <li>Entrega inmediata.</li>
                  <li>Formato digital</li>
                  <li> Personalización a medida.</li>
                  <li>Equipo comercial cualificado.</li>
              </ul>

              <fieldset class="formCont">
            </div>
            <h3>Déjanos tus datos,
                trabajemos juntos.</h3>
                <p>Tiempo promedio de respuesta 3 horas hábiles</p>
            <form class="formulario" novalidate>
                <label type="Nombre Completo" class="nombreCompleto">Nombre Completo</label>
                <input class="nombrecompleto" type="text" name="fullname"  required="required" class="">
                <label type="Email" class="Email">Email</label>
                <input class="email"; type="email" name="email"  required="required" class="">
                <label>Telefono</label>
                <input>
                <label>Empresa</label>
                <input>
                <label>consulta</label>
                
                <button class="Contactanos" type="submit">Contactanos</button>
            </form>
            <div>

            </div>
        </fieldset>
        </form>
    </fieldset>
    </main>

    <%- include('./partials/footer') %> 
</body>
</html>