<%- include('./partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('./partials/header') %> 

    <main>
      
        <form action="GET">
            <h1 class="titulo">Promovamos disfrutar cada día de la exitencia!!!</h1>
              <h2 class="subtitulo">Una buena alimentación, cuidado de la salud física y mental, practica de deportes, recreacion al aire libre, senderismo y aventura.</h2>
               
              <fieldset class="fieldsetMain">
            <div class="cuadradoFormulario">
            <h3 class="datos">Dejanos tus datos,
                trabajemos juntos.</h3>
                <p class="promedioRespuesta">Tiempo promedio de respuesta 3 horas hábiles</p>
            <form class="formulario" novalidate>
                <label type="Nombre Completo" class="nombreCompleto">Nombre Completo</label>
                <input class="nombrecompleto" type="text" name="fullname"  required="required" class="">
                <label type="Email" class="Email">Email</label>
                <input class="email"; type="email" name="email"  required="required" class="">
                <label type="telefono" class="telefono">Teléfono</label>
                <input type="telenofo" class="telefono" name="telefono" required="required">
                <label type="empresa" class="empresa">Empresa</label>
                <input type="empresa" class="empresa" name="empresa" required="required">
                <label type="consulta" class="consulta">Consulta</label>
                <input type="consulta" class="consulta" name="consulta" required="required">
                
                <button class="Contactanos" type="submit">Contactar</button>
            </form>
            </div>
       
    


    <fieldset class="contactanos">
        <article>
            <h1>Contactanos !</h1>
            <h5 class="tituloEmail">E-mail :</h5>
            <p>info@enjoy.com.ar</p>
            <h5 class="telefonoCelular">Teléfono celular :</h5>
            <p>+54 11 7889-0987</p>
            <h5 class="ventasCorporativas">Ventas corporativas :</h5>
            <p>corporativo@enjoy.com.ar</p>
            <p>4578-9080</p>
            <p class="horarios"> Lunes a viernes de 9 a 18 hs.</p>
        </article>
    </fieldset>
</form>
</fieldset>
    </main>

    <%- include('./partials/footer') %> 
</body>
</html>