<%- include('./partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('./partials/header') %> 

    <main>
        <h1>Tus favoritos</h1>
        <h3>Guardá en esta sección tlas experiencias que más te gustaron !</h3>

        // Me faltaría ver bien la lógica de como unirlo al botón.
    </main>

    <%- include('./partials/footer') %> 
</body>
