<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enjoy, viví tu experiencia</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/8e7d396c1b.js" crossorigin="anonymous"> </script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Life+Savers&display=swap" rel="stylesheet">
    
    
</head>
<body>
    <header> 
        <section id="barraSuperior" class= "dFlex"> 
            <i class="fas fa-bars"></i>
            <img src= "\images\ENJOY.png" alt="Logo">
            <nav>
            <a>  <i class="fas fa-search"></i></a>
            <a> <i class="fas fa-gift"></i> <h5>¡Abri tu experiencia!</h5></a>
            <a> <i class="fas fa-shopping-cart"></i> </a>
            <a>  <i class="far fa-heart"></i> </a>
            </nav>
        </section>
        
        <section id="barraInferior" class="dFlex">
            <i class="far fa-user"></i>
            <nav>
                <button type="submit"><a href ="/login">Ingresa </a> </button>  
                <button type="submit"><a href="/register">Crea tu cuenta </a> </button> 
            </nav>
            
        </section>         
        
        </header>

    <main>
        <section class="tituloPortada">
           <h1 class= "titulo"> <a id="titulo" href="#"> ¿Qué es y cómo funciona ENJOY?</a></h1>
           <div class="portada">       
            <picture>
                <img src="/images/Portada.png" alt="portada">
            </picture>
        </div>
        </section>
        <section class="navegacionPrincipal" id="recomendados">
            <nav class="nPrincipal">
                <div class="navegacion regala">
                    <picture>
                        <img src="/images/image 1.png" id="imagenNavegacion" alt="regala">
                    </picture>
                <a href="#nuevo" id="tituloNavegacion">¡Regalá!</a>
                </div>
                <div class="navegacion recomendados">
                <a href="#nuevo" id="tituloNavegacion">Recomendados</a>
                </div>
                <div class=" navegacion motivos">
                    <picture>
                        <img src="/images/image 2.png" id="imagenNavegacion" alt="motivos">
                    </picture>
                <a href="#nuevo" id="tituloNavegacion">Motivos de Regalo</a>
                </div>
                <div class="navegacion ideas">
                    <picture>
                        <img src="/images/image 3.png" id="imagenNavegacion" alt="ideas">
                    </picture>
                <a href="#nuevo" id="tituloNavegacion">¿Necesitás ideas?</a>
                </div>
            </nav>
       
        </section>
     
        <section class="navegacionSecundaria" id="vendidosNuevos">
            <nav class="navSecundaria">
            <a name="nuevo" id="nuevo">
                <div class="masVendidos">
                <a href="#"> Más vendidos</a>
                </div>
                <div class="masNuevos">
                <a href="#">¡Nuevos!</a>
                </div>
            </a>
            </nav>
        </section>
        <section class="productos">
        <article class= "producto1">
        
            <picture class= "imagenProducto">
            <img src="images/spa.png" alt="spa">
            </picture>
            <h3 class="tituloImagen">Spa</h3>
            <i class="far fa-heart"></i>
            <i class="far fa-user"></i>
            <div class="caracteristicas">
            <h4 class= "tituloProducto"> Spa</h4>
            <p class="descripcion"> Sesiones de masajes y tratamientos corporales y faciales exclusivos</p>
            <p class="precio"> $3200</p>
            </div>    
        </article>
        <article class= "producto2">
            <div class="imagenIconos">
            <picture class= "imagenProducto">
            <img src="images/gastronomia.jpeg" alt="gastronomia">
            </picture>
            <h3 class="tituloImagen">Gastronomía</h3>
            <i class="far fa-heart"></i>
            <i class="far fa-user"></i>
            </div>
            <div class="caracteristicas">
            <h4 class= "tituloProducto"> Gastronomía</h4>
            <p class="descripcion"> Los mejores restaurantes para dos personas</p>
            <p class="precio"> $4500</p>
            </div>    
        </article>

        <article class= "producto3">
            <div class="imagenIconos">
            <picture class= "imagenProducto">
            <img src="/images/aventura.png" alt="aventura">
            </picture>
            <h3 class="tituloImagen">Aventura</h3>
            <i class="far fa-heart"></i>
            <i class="far fa-user"></i>
            </div>
            <div class="caracteristicas">
            <h4 class= "tituloProducto"> Aventura</h4>
            <p class="descripcion"> Actividades emocionantes e innovadoras</p>
            <p class="precio"> $5500</p>
            </div>    
        </article>
    </section>
    
    <section class="banner">
        <i class="fas fa-gift regaloGrande"></i>
        <div class="botonytexto">
        <p class="textoBanner">¡Hacé un regalo empresarial! <br> Fidelizá clientes y colaboradores con ENJOY, hacer un regalo nunca fue tan fácil y original</p>
        <button type="submit" class="botonBanner"><a href="/">Mirá nuestras soluciones corporativas</a></button>
        </div>
    </section>
    </main>

    <footer>
        <section class="dflex" id="footerOne">
            <h2>ENJOY</h2>
            <nav>
                <a href="#">¿Quiénes somos?</a>
                <a href="#">Trabajá con nosotros</a>
                <a href="#">Puntos de venta</a>
                <a href="#">Uní tu experiencia</a>
            </nav>
        </section>
        <section class="dflex" id="footerTwo">
             <h2>AYUDA</h2>
             <nav>
                 <a href="#">¿Cómo comprar?</a>
                 <a href="#">Contacto</a>
                 <a href="#">Preguntas frecuentes</a>
                 <a href="#">Devoluciones</a>
             </nav>
         </section>
         <section class="dflex" id="footerThree">
             <section class="newsletter">
                 <h2>SUSCRIBITE AL NEWSLETTER</h2>
                 <form action="GET">
                     <fieldset>
                         <input type="email" placeholder="Tu correo electrónico">
                     </fieldset>
                 </form>
             </section>
             
             <h2>NUESTRAS REDES SOCIALES</h2>
             <nav>
                 <a href="#"><i class="fab fa-instagram"></i></a></a>
                 <a href="#"><i class="fab fa-twitter"></i></a></a>
                 <a href="#"><i class="fab fa-facebook"></i></a></a>
                 <a href="#"><i class="fas fa-at"></i></a></a>
             </nav>
             </section>
         </section>
         <section class="dflex" id="footerFour">
             <nav>
                 <a href="#" class="footerFourLeft">Políticas y garantías</a>
                 <a href="#">Términos y condiciones</a>
             </nav>
         </section>
     </footer>
</body>
</html>