<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gastronomía</title>
    >
    <script src="https://kit.fontawesome.com/aa9ea7d08e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Life+Savers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/productdetail.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <header> 
        <section class="dflex" id="barraSuperior"> 
            <section class="dflex">
                <i class="fas fa-bars"></i>
                <a href="/"><img src= "\images\ENJOY.png" alt="Logo"> </a>
            </section>
            <nav class="dflex">
                <a href="#">  <i class="fas fa-search"></i></a>
                <a href="#"> <i class="fas fa-gift"></i> <p>¡Abri tu experiencia!</p></a>
                <a href="/cart"> <i class="fas fa-shopping-cart"></i> </a>
                <a href="#">  <i class="far fa-heart"></i> </a>
            </nav>
        </section>
        <section id="barraInferior" class="dflex">
            <i class="far fa-user"></i>
            <button type="submit" id="headerButtonLeft"><a href ="/login">Log in </a> </button>  
            <button type="submit" id="headerButtonRight"><a href="/register">Registrate </a> </button>       
        </section>        
    </header>

    <main>
        <section class="dflex" id="mainOne">
            <h2>Gastronomía</h2> 
            <h4><i class="far fa-star"></i><strong>4.3</strong></h4>
            <p>Este ENJOY, para dos personas, ofrece la posibilidad de disfrutar de una experiencia gastronómica única en los mejores restaurantes de Argentina.</p>
        </section>
        <section class="dflex" id="mainTwo">
            <img src="/images/gastronomia2.png" alt="">
            <article>
                <p><i class="fas fa-user-friends"></i> Para dos personas</p>
                <p><i class="fas fa-calendar"></i> Válido hasta el 31/03/2022</p>
                <p><i class="fas fa-gift"></i> Contiene 60 opciones</p>
                <p><i class="far fa-smile-beam"></i> MUY BUENO (10 opiniones)</p>
                <form action="GET">
                    <fieldset class="dflex">
                        <legend><strong>Formatos de regalo:</strong></legend>
                        <button type="button"><strong>Regalo Digital</strong></button>
                        <button type="button" id="buttonRight"><strong>Regalo Físico</strong></button>
                        <p class="format">Envío por email o whatsapp</p>
                    </fieldset>
                </form>
                <p><strong>$4.500</strong></p>  
            </article>  
        </section>
        <section class="dflex" id="mainThree">
            <button type="submit"><strong>Comprar este ENJOY</strong></button>
            <P>¿Te hicieron este regalo?</P>
        </section>
        <section>
            <img src="/images/metodosDePago.png" alt="">
        </section>
        <section class="dflex" id="mainFour">
            <div class="dflex">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <p> (Promedio entre 10 opiniones)</p>
            </div>
            <section class="dflex" id="coments">
                <p><strong>Ver comentarios</strong></p>
                <i class="fas fa-arrow-down"></i>
            </section>
            
        </section>
    </main>

    <footer>
        <section class="dflex" id="footerOne">
            <h2>ENJOY</h2>
            <nav>
                <a href="#">¿Quiénes somos?</a>
                <a href="#">Trabajá con nosotros</a>
                <a href="#">Puntos de venta</a>
                <a href="#">Uní tu experiencia</a>
            </nav>
        </section>
        <section class="dflex" id="footerTwo">
             <h2>AYUDA</h2>
             <nav>
                 <a href="#">¿Cómo comprar?</a>
                 <a href="#">Contacto</a>
                 <a href="#">Preguntas frecuentes</a>
                 <a href="#">Devoluciones</a>
             </nav>
         </section>
         <section class="dflex" id="footerThree">
             <section class="newsletter">
                 <h2>SUSCRIBITE AL NEWSLETTER</h2>
                 <form action="GET">
                     <fieldset>
                         <input type="email" placeholder="Tu correo electrónico">
                     </fieldset>
                 </form>
             </section>
             
             <h2>NUESTRAS REDES SOCIALES</h2>
             <nav>
                 <a href="#"><i class="fab fa-instagram"></i></a></a>
                 <a href="#"><i class="fab fa-twitter"></i></a></a>
                 <a href="#"><i class="fab fa-facebook"></i></a></a>
                 <a href="#"><i class="fas fa-at"></i></a></a>
             </nav>
             </section>
         </section>
         <section class="dflex" id="footerFour">
             <nav>
                 <a href="#" class="footerFourLeft">Políticas y garantías</a>
                 <a href="#">Términos y condiciones</a>
             </nav>
         </section>
     </footer>
</body>
</html>