*{

    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    
}

h1{
    font-size: 2.5rem;
    text-align: center;
    background-color: #D9BBF9 ;
    border-radius: 0.5rem;
    margin: 2.5rem auto;
    max-width: 70%;
}

  .todo{
    text-align: center;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 95%;
 
         
}

h3{
    background-color: #D9BBF9;
    font-style: italic;
    border-radius: 0.5rem;
    text-align: center;
    max-width: 100%;
    margin: 15px auto;
    margin-bottom: 20px;
}
 .agasajados{
    width: 100%;
    padding: 0.5rem;
 }
.p{
    margin: 15px;
    text-align: center;

}
h5{
    margin: 15px 0 1rem 0;
    font-style: italic;
}
.h5-2{
    font-style: italic;
    margin-bottom: 2rem;
}


@media screen and (min-width: 492px) {
    h3{
        max-width: 85%;
        margin-top: 2rem;
    }
}

@media screen and (min-width: 789px) {
    h3{
        max-width: 60%;
        margin-top: 3rem;
    }
    h5{
        margin: 15px 0 0 0;
    }
}