<link rel="stylesheet" href="/css/header.css">
<header> 
    <section class="dflex" id="barraSuperior"> 
        <section class="dflex">
            <a href="/categories"><i class="fas fa-bars"></i></a>
            <a href="/"><img src= "\images\ENJOY.png" alt="Logo"> </a>
        </section>
        <nav class="dflex">
            <a href="/categories">  <i class="fas fa-search"></i></a>
            <a href="/abriTuExperiencia"> <i class="fas fa-gift"></i> <p>¡Abrí tu experiencia!</p> </a>
            <a href="/products/cart"> <i class="fas fa-shopping-cart"></i> </a>
            <a href="#">  <i class="far fa-heart"></i> </a>
        </nav>
    </section>
    <section id="barraInferior" class="dflex">
        <i class="far fa-user"></i>
        <button type="submit" id="headerButtonLeft"><a href ="/login">Log in </a> </button>  
        <button type="submit" id="headerButtonRight"><a href="/register">Registrate </a> </button>       
    </section>                    
</header>