<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enjoy, viví tu experiencia</title>
    
    <script src="https://kit.fontawesome.com/8e7d396c1b.js" crossorigin="anonymous"> </script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Life+Savers&display=swap" rel="stylesheet">
    <link rel="icon" type="image/jpg" href="/images/favicon.png" size="48×48">  
    <% if (locals.style) { %>
     <link rel="stylesheet" href="/css/<%=style%>.css">
    <% } %>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    
</head>