* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    text-align: center;
    margin: 15px;

}

.tituloPrincipal{
    margin-bottom:25px;
    font-size: 30px;
    color:#5A2083;
    }

    
.editarProducto{
    background-color: #5A2083;
}