<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    
    <main>
        <div class= "mainOne">
            <h1>Descubrí ENJOY</h1>
            <p class="subtitulo">ENJOY es una forma diferente de vivir emociones y experiencias únicas</p>
        
         </div>
         <div class= "linea"></div>
         <div class= "mainTwo">
        <h3>¿Te hicieron un regalo?</h3>
        <p class= "numero">01</p><p class= "pasos">INGRESÁ EL CÓDIGO EN NUESTRA WEB PARA ACTIVARLO</p>
        <p class= "numero">02</p><p class= "pasos">CONTACTÁ AL PRESTADOR PARA DECIRLE QUE TENÉS UN CÓDIGO</p>
        <p class= "numero">03</p><p class= "pasos">COORDINÁ LA FECHA DE RESERVA Y COORDINÁ LA EXPERIENCIA</p>
        <div class= "linea"></div>
        <h3> ¿Querés comprar un regalo?</h3>
        
        <p class= "numero">01</p><p class= "pasos">Elegí el ENJOY que quieras regalar</p>
        <p class= "numero">02</p><p class= "pasos">Cada ENJOY tiene un conjunto de experiencias</p>
        <p class= "numero">03</p><p class= "pasos">Tu agasajado recibe un código y elige qué experiencia disfrutar</p>
      </div>

    </main>

    <%- include('../partials/footer') %> 
</body>
</html>
