<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    
    <main>
        <div>
            <h2 class="title bb-title-3 sofia-font bb-mb-1">Descubre ENJOY</h2>
            <p class="subtitulo">ENJOY es una forma diferente de vivir emociones y experiencias únicas</p>
        </div>

        <div>
           <h1>¿Qué puedo comprar?</h1>

              <h2>Colecciones temáticas</h2>
               <h3>Experiencias a la carta</h3>

               <div class="steper">
             <p class="texto">Obsequia
               <b class="aTexto">muchas experiencias</b>
             en una sola Colección 
             </p>
         
              <div class="items">
                 <p class="texto">Elegí la 
                    <b class="bTexto">colección temática</b>que quieras regalar</p>
              </div>
              <div class="items">
                 <p class="texto">Cada coleccióncon tiene un
                    <b class="cTexto">conjunto</b>de experiencias</p>
              </div>
              <div class="items">
                 <p class="texto">Tu agasajado
                    <b class="dTexto">recibe un código</b>
                  y
                    <b>que experiencia</b>disfrutar</p>
                
              </div>
              </div>
       </div>
       <div class="bottomRightSideBlock">
          <div class="creditBlock"></div>
       </div>
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>
