<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    
    <main>
        <div>
            <h2 class="title bb-title-3 sofia-font bb-mb-1">Descubre ENJOY</h2>
            <p class="subtitulo">ENJOY es una forma diferente de vivir emociones y experiencias únicas</p>
        </div>

        <div>
           <h1>¿Qué puedo comprar?</h1>

              <h2>Colecciones temáticas</h2>
               <h3>Experiencias a la carta</h3>

             <p class="texto">Obsequia
               <b class="bTexto">muchas experiencias</b>
             en una sola Coleccion
             </p>
          <div class="steper">
              <div>
                 <p class="texto">Elegi la 
                    <b class="bTexto">Coleccion temática</b>
                  que quieras regalar
                 </p>
              </div>
              <div>
                 <p class="texto">Cada Coleccion contiene un
                    <b class="bTexto">conjunto</b>
                de experiencias
              </p>
              </div>
              <div>
                 <p class="texto">Tu agasajado
                    <b class="bTexto">recibe un código</b>
                  y
                    <b class="bTexto">que experiencia</b>
                  disfrutar
                 </p>
              </div>
              </div>
       </div>
       <div class="bottomRightSideBlock">
          <div class="creditBlock"></div>
       </div>
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>
