<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    
    <main>
        <h1>¿En qué podemos ayudarte?</h1>
            <h2>Aca seguro vas a encontrar tu duda</h2>
            <div>
                <input name="searchQuery" placeholder="Ej: no me llego el nuevo codigo" type="text" class="bb-input bb-search searchInput">
            </div>
        </main>

    <%- include('../partials/footer') %> 
</body>
</html>