<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    
    <main>
        <h1>¿En qué podemos ayudarte?</h1>
            <h2>Aca seguro vas a encontrar tu duda</h2>
            <section class="popularTopicsSection sectionPadding">
                <h3 class="secondaryTitle">Peguntas frecuentes</h3>
            </section>
            <div>
                <input  class="ejemplo"" name="searchQuery" placeholder="Ej: no me llego el nuevo codigo" type="text" class="">
            </div>

        <section class="">
             <div class="cuadroFormulario">
                 <h3 class="contactanos">Contáctanos</h3>
                 <p class="texto">Completa con los datos pedidos y asi podremos ayudarte</p>
                    <fieldset class="formCont">
                      <form class="formulario" novalidate>
                        <input class="nombrecompleto" type="text" name="fullname" placeholder="Nombre completo" required="required" class="">
                        <input class="email"; type="email" name="email" placeholder="Email" required="required" class="">
                        <input  class="button-enviar" type="submit" value="Enviar">
                    </form>
                    </fieldset>
                      <h3>Mensaje</h3>
                      <div>
                          <select type="select">
                              <option value class="">Asunto</option>
                              <option>Comprar un regalo</option>
                              <option>Estado de mi envío</option>
                              <option>Abrir mi regalo</option>
                              <option>Cambio</option>
                              <option>Extension de regalo</option>
                              <option>Reserva</option>
                              <option>Perdi mi regalo</option>
                              <option>Devolver mi compra</option>
                              <option>Otro</option>
                          </select>
                      </div>
                   </form>
             </div>
        </section>
        </main>

    <%- include('../partials/footer') %> 
</body>
</html>