<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    
    <main>
       

        <section class="mainSection"> 
            <h1>¿En qué podemos ayudarte?</h1>
            <section class="preguntasF">
                <h3 class="secondaryTitle"> Preguntas frecuentes:</h3>
            </section>
            <div>
                <input  class="ejemplo" name="searchQuery" placeholder="Ej: no me llego el nuevo codigo" type="text" class="">
            </div>
             <div class="cuadroFormulario">
                 <h2 class="contactanos">Contáctanos</h2>
                 <p class="texto">Completa con los datos pedidos y asi podremos ayudarte</p>
                    <fieldset class="formCont">
                      <form class="formulario" novalidate>
                        <input class="nombrecompleto" type="text" name="fullname"  required="required" class="">
                        <input class="email"; type="email" name="email"  required="required" class="">
                    
                    </form>
                    </fieldset>
                      <h3 class="mensaje">Mensaje</h3>
                      <div>
                          <select type="select">
                              <option value class="">Asunto</option>
                              <option>Comprar un regalo</option>
                              <option>Estado de mi envío</option>
                              <option>Abrir mi regalo</option>
                              <option>Cambio</option>
                              <option>Extension de regalo</option>
                              <option>Reserva</option>
                              <option>Perdi mi regalo</option>
                              <option>Devolver mi compra</option>
                              <option>Otro</option>
                          </select>
                      </div>
                      <button class="enviar" type="submit">Enviar</button>
                   </form>
             </div>
        </section>
        </main>

    <%- include('../partials/footer') %> 
</body>
</html>