<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    
    <main>
        <fieldset class="fieldsetMain">
            <h1>¿En qué podemos ayudarte?</h1>

            <h3 >Primero accedé a nuestras <a href="/preguntasFrecuentes" Class="frecuentes">PREGUNTAS FRECUENTES</a></h3>
             <div class="cuadroFormulario">
                 <h2 class="contactanos">Contáctanos</h2>
                 <p class="texto">Completa con los datos pedidos y asi podremos ayudarte</p>
                    <fieldset class="formCont">
                      <form class="formulario" novalidate>
                        <input class="nombrecompleto" type="text" name="fullname"  required="required" class="">
                        <input class="email"; type="email" name="email"  required="required" class="">
                    
                    </form>
                    </fieldset>
                      <h3 class="mensaje">Mensaje</h3>
                          <select type="select">
                              <option value class="">Asunto</option>
                              <option>Comprar un regalo</option>
                              <option>Estado de mi envío</option>
                              <option>Abrir mi regalo</option>
                              <option>Cambio</option>
                              <option>Extension de regalo</option>
                              <option>Reserva</option>
                              <option>Perdi mi regalo</option>
                              <option>Devolver mi compra</option>
                              <option>Otro</option>
                          </select>
                      <button class="enviar" type="submit">Enviar</button>
                   </form>
             </div>
        </fieldset>
            
        </main>

    <%- include('../partials/footer') %> 
</body>
</html>