<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    
    <main>
        <fieldset class="fieldsetMain">
            <h1>¿En qué podemos ayudarte?</h1>

            <h3 >Primero accedé a nuestras <a href="/preguntasFrecuentes" Class="frecuentes">PREGUNTAS FRECUENTES</a></h3>
            <div class= "linea"></div> 
            <div class="cuadroFormulario">
                 <h2 class="contactanos">Contactanos</h2>
                 <article class="contact">
                    <h5>Teléfono celular :</h5>
                    <p>+54 11 7889-0987</p>
                    <h5>Ventas corporativas :</h5>
                    <p >corporativo@enjoy.com.ar</p>
                    <p class="corporativosInfo">4578-9080</p>
                    <p id="horarios" > Lunes a viernes de 9 a 18 hs.</p>
                </article>
                <div class= "linea"></div>
                 <h5>O completá el formulario y podremos ayudarte</h5>
                    <fieldset class="formCont">
                      <form class="formulario" novalidate>
                        <label type="text" class="nombreCompleto">Nombre Completo</label>
                        <input class="nombrecompleto" type="text" name="fullname"  required >
                        <label type="Email" class="Email">Email</label>
                        <input class="email" type="email" name="email"  required >
                        
                    
                    </form>
                    </fieldset>
                      <h3 class="mensaje">Mensaje</h3>
                          <select type="select">
                              <option value class="">Asunto</option>
                              <option>Comprar un regalo</option>
                              <option>Estado de mi envío</option>
                              <option>Abrir mi regalo</option>
                              <option>Cambio</option>
                              <option>Extension de regalo</option>
                              <option>Reserva</option>
                              <option>Perdi mi regalo</option>
                              <option>Devolver mi compra</option>
                              <option>Otro</option>
                          </select>
                      <button class="enviar" type="submit">Enviar</button>
                   </form>
             </div>
        </fieldset>
            
        </main>

    <%- include('../partials/footer') %> 
</body>
</html>