<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    
    <main>
        
        <article>
            <h1>Contactanos !</h1>
            <h5>E-mail :</h5>
            <p>info@enjoy.com.ar</p>
            <h5>Teléfono celular :</h5>
            <p>+54 11 7889-0987</p>
            <h5>Ventas corporativas :</h5>
            <p>corporativo@enjoy.com.ar</p>
            <p>4578-9080</p>
            <p class="horarios"> Lunes a viernes de 9 a 18 hs.</p>
        </article>
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>