<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    
    <main>
        <h1>POLÍTICA DE GESTIÓN DE LA CALIDAD</h1>
        <p class="subtitulo">ENJOY empresa dedicada a reinventar el concepto tradicional de regalo, transformándolo en una alternativa diferente y original, y que tiene como alcance de su Sistema de Gestión de la Calidad “Desarrollo y Soporte de Software para servicios de comercio electrónico”, asumió el compromiso de definir su Política de Gestión de la Calidad como:</p>
        <ul class="items">
            <li>Alcanzar las expectativas de nuestros clientes, prestadores de experiencias y usuarios, brindándoles un servicio seguro, innovador y eficiente, trabajando siempre en pos de la mejora continua de nuestros procesos.</li>
            <li>Detectar, analizar y evaluar los requisitos y expectativas de las partes interesadas, los riesgos y oportunidades, como así también las cuestiones internas y externas relevantes para cumplir con el propósito estratégico de la organización.</li>
            <li>Promover el crecimiento profesional a través del desarrollo de habilidades y la capacitación técnica de nuestro equipo de trabajo, garantizando un ambiente cooperativo, inclusivo, proactivo y con un fuerte sentido de compromiso y responsabilidad.</li>
            <li id="lastLi">Honrar los compromisos asumidos, y cumplir con los requisitos legales y otros requisitos pertinentes aplicables.</li>
        </ul>
    </main>
       
    <%- include('../partials/footer') %> 
</body>
</html>