<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    
    <main>Hola</main>
        <h2 class ="titu">hooooo</h2>
    <%- include('../partials/footer') %> 
</body>
</html>