<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    
    <main>
        <h1>Preguntas</h1>
        <div class="bienvenida">
        <p >¡Hola!</p>
        <p>¿Tenés alguna consulta sobre ENJOY? Por acá podemos asesorarte </p>
        <p>Por favor elegí un tema</p>
        </div>

        <div class="sc-2ravpp-0 ffCjdz">
            <div>
                <button class="enviar" data-garden-id="buttons.button" data-garden-version="8.13.0" type="button" >Envio</button>
                <button class="compra" data-garden-id="buttons.button" data-garden-version="8.13.0" type="button"  eoPIDt sc-htpNat kbREso>Compra Corporativa</button>
                <button class="servicio" data-garden-id="buttons.button" data-garden-version="8.13.0" type="button">Prestador de servicio</button>
                <button class="compra" data-garden-id="buttons.button" data-garden-version="8.13.0" type="button">Compra</button>
                <button class="regalos" data-garden-id="buttons.button" data-garden-version="8.13.0" type="button">Uso de mi regalo</button>
                <button class="cambio" data-garden-id="buttons.button" data-garden-version="8.13.0" type="button">Cambios y Vencimientos </button>
            </div>
            <div style="height: 1px"></div>
        </div>
        <div class="sc-6fatmo-0 JIKyl">
            <button data-garden-id="buttons.icon_button" data-garden-version="8.13.0" type="button" aria-label="Cargar archivo" class="cargarArchivos"></button>
            <input type="file" accept=".csv, .doc, .docx, .eml, .gif, .heic, .ics, .jfif, .jpeg, .jpg, .key, .log, m4a, .m4v, .mov, .mp3, .mp4a, .mpeg, .mpg, .mpg, mpga, .neon, .numbers, .odt, .oga, .ogg, .ogv, .pages, .pdf, .png, .pps, .ppsx, .ppt, .pptx, .qt, .svg, .tif, .tiff, .txt, .vcf, .wav, .webm, .webp, .wmv, .xls, .xlsx, .xml, .yml .yaml, .webp" multiple class="sc-fcxw62-0 kGDiPU">
            <div class="sc-1vpqusk-3 jIIPJQ">
                <div data-garden-id="forms.field" data-garden-version="8.20.0" class="sc-1vpqusk-4 dCVhlJ sc-bZQynM AgCuY">
                    <textarea data-garden-id="form s.textarea" data-garden-version="8.20.0" aria-invalid="false" id="2val-fiels_1.3.4--input" aria-labelledby="2val-field_1.3.4--label" aria-describedby="2val-field_1.3.4.--hint" rows="1" placeholder="Deje un mensaje" aria-label="Deje un mensaje" class="dejeUnMensaje" style="height: 40px; overflow: hidden;"></textarea>
                   
                </div>
            </div>
        </div>
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>