<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    
    <main>
        <section class="bienvenida">
       
        <h1>¿Tenés alguna consulta sobre ENJOY? Por acá podemos asesorarte! </h1>

    <h2 id="opcionesTemas">Por favor elegí un tema:</h2>
        </section>

        <section class="temas">
            <div>
                <button type="text" class="borde"><a href="/envio">Envío</a></button> 
                <button type="text" class="borde"><a href="/corporativas">Compra Corporativa</a></button> 
                <button type="text" class="borde"><a href="/compra">Compra</a></button>
                <button type="text" class="borde"><a href="/uso">Uso de mi regalo</a></button>            
            </div>
    
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>