<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    
    <main>
        <h1>Preguntas</h1>
        <section class="bienvenida">
        <p >¡Hola!</p>
        <p>¿Tenés alguna consulta sobre ENJOY? Por acá podemos asesorarte </p>

        <p>Por favor elegí un tema:</p>
        </section>

        <section class="temas">
            <div>
                <button type="text"><a href="/">Envio</a></button> 
                <button type="text"><a href="/">Compra Corporativa</a></button>  
                <button type="text"><a href="/">Prestador de servicio</a></button>
                <button type="text"><a href="/">Compra</a></button>
                <button type="text"><a href="/">Uso de mi regalo</a></button>
                <button type="text"><a href="/">Cambios y Vencimientos</a></button>
            
            </div>
    
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>