<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    
    <main>
        <h1>Puntos de venta</h1>
        <div class= "linea"></div>
        <div class="locales">
        <h3> ENJOY ABASTO </h3>
        <p class="direccion"> Avenida Corrientes 3247</p>
        <div class= "linea"></div>
        <h3> ENJOY ALTO PALERMO</h3>
        <p class="direccion"> Avenida Santa Fe 3253</p>
        <div class= "linea"></div>
        <h3> ENJOY ALCORTA </h3>
        <p class="direccion"> Avenida F. Alcorta y Salguero</p>
        <div class= "linea"></div>
        </div>
        
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>