<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    
    <main>
        <h1>Localización</h1>

        <h2>Bienestar</h2>
        <h2>Gastronomía</h2>
        <h2></h2>
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>