<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    
    <main>
        <h1>Localización</h1>
        <p class="subtitulo">Las siguientes opciones que ofrecemos se encuentran dentro de Buenos Aires </p>

        <h2>BIENESTAR</h2>
        <p class="calificación">Spa de 5 estrellas
            <ul class="nombre">
                <li>SPA Top Secret</li>
                <li>Renacer SPA</li>
                <li>Spacioverde</li>
            </ul>
        </p>
        <p class="calificación">Spa de 4 estrellas y media
            <ul class="nombre">
                <li>Mildred SPA </li>
                <li> Aqua SPA</li>
                <li>Relaxar</li>
            </ul>
        </p>
        <p class="calificación">Spa de 4 estrellas
            <ul class="nombre">
                <li>Blue SPA</li>
                <li>Hotel Infinito</li>
                <li>Cuerpo Bella SPA</li>
            </ul>
        </p>
            
        <h2>GASTRONOMIA</h2>
        <p class="calificación">Restaurantes de 5 estrellas
            <ul class="nombre">
                <li>Dagiusepperistorante</li>
                <li>El Maizal Buenos Aires</li>
                <li>Pausa Station</li>
            </ul>
        </p>
        <p class="calificación">Restaurantes de 4 estrellas y media 
        <ul class="nombre">
            <li>Gardiner</li>
            <li>Calden del Soho</li>
            <li>Jardin de Invierno</li>
        </ul>
        </p>
        <p class="calificación">Restaurantes de 4 estrellas 
            <ul class="nombre">
                <li>Cantegril</li>
                <li>La Catedra</li>
                <li>Socrates</li>
            </ul>
        </p>

        <h2>AVENTURAS</h2>
            <p class="calificación">Restaurantes de 5 estrellas 
                <ul class="nombre">
                    <li>Hebert Coello</li>
                    <li>Free Walking Tours</li>
                    <li>Argentina Extrema</li>
                </ul>
            </p>
            <p class="calificación">Restaurantes de 4 estrellas y media
                <ul class="nombre">
                    <li>Puerto Aventura</li>
                    <li>Trepark</li>
                    <li>Universo Aventura</li>
                </ul>
            </p>
            <p class="calificación">Restaurantes de 4 estrellas
                <ul class="nombre">
                    <li>Parque de la ciudad </li>
                    <li>Ecoparque</li>
                    <li>Aeropolis</li>
                </ul>
            </p>

        <h2>ENTRETENIMIENTO</h2>
            <p class="mes">Recitales en Febrero
                <ul class="bandas">
                    <li>Mau & Ricky</li>
                    <li>Rauw Alejandro</li>
                    <li>Harry Styles</li>
                </ul>
            </p>
            <p  class="mes">Recitales en Abril
                <ul class="bandas">
                    <li>Marron 5</li>
                    <li>Ricardo Montaner</li>
                    <li>La Beriso</li>
                </ul>
            </p>
            <p class="mes">Recitales en Mayo
                <ul class="bandas">
                    <li>Pimpinela</li>
                    <li>Stay Homas</li>
                    <li>Louis Tomlinson</li>
                </ul>
            </p>


        <h2>ESTADIAS</h2>
            <p class="calificación">Estadía de 5 estrellas y media 
                <ul class="nombre">
                    <li>Top floor studio for two</li>
                    <li>Hotel Casa Basilico</li>
                    <li>Hotel Chemin</li>
                </ul>
            </p>
            <p class="calificación">Estadía de 4 estrellas  y media
                <ul class="nombre">
                    <li>Pampas del Sur</li>
                    <li>Blank</li>
                    <li>Anselmo</li>
                </ul>
            </p>
            <p class="calificación">Estadía de 4 estrellas 
                <ul class="nombre">
                    <li>Up Tribeca</li>
                    <li>Hotel Parada</li>
                    <li>Ker Recoleta Hotel</li>
                </ul>
            </p>
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>