<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    
    <main>
        <h1>Qué es ENJOY</h1>
        <div class="mainOne">
        <p class="subtitulo">ENJOY es un regalo único para disfrutar de nuevas experiencias.</p>
        <p class="texto">Regalos de cinco categorias tematicas:</p>
            <b class="b-subtitulo">Bienestar, Gastronomía y Aventuras, Entretenimiento y Estadías</b>
        </p>
        <p class="texto">Cada regalo ENJOY adjunta una seccion de experiencias. El obsequiado opta la que mas le gusta y reserva directamente con el lugar</p>
      </div>
        <div class="mainTwo"> 
            <p class="texto">Regalamos porque ver felices a los nuestros nos hace muy felices.
               Así de simple.</p>
            <p class="texto">Porque siempre buscamos esa sonrisa, esa emoción, ese abrazo que lo dice todo.
               No importa el motivo, no importa la ocasión, solo importa hacer feliz a alguien.</p>
            <p class="texto">Ese es nuestro propósito, nuestra razón de ser.
               Porque un mundo más generoso, es un mundo más feliz.</p>
            <p class="texto">¿Y por qué experiencias?
               Porque los momentos de felicidad son los que recordaremos por siempre.</p>
            </div> 
                    <h3>ENJOY, la felicidad de tu experiencia es nuestra felicidad reflejada en los regalos</h3>
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>