<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    
    <main>
        <h1>Generales de Contratación con ENJOY</h1> 
           <h2 class="subtitulo">Uso del Código.</h2>
       
       <p class="items">1. Si el Cliente deseare hacer uso de una Experiencia que no se encuentra incluida dentro del listado del Producto seleccionado de acuerdo a lo establecido en el apartado A.4 de estas Condiciones Generales, aquel podrá cambiar el Producto escogido por otro de su preferencia.</p>
       <p class="items">2. Atento a que los Productos poseen distintos valores, el Cliente deberá abonar la diferencia que exista entre el Producto originalmente seleccionado y el Producto por el cual deseare reemplazarlo. A tal efecto, se tomará como referencia el valor que el Cliente hubiere abonado al adquirir el Producto que desea cambiar (aquel que surge de la factura de compra oportunamente emitida) y deberá abonar el valor adicional vinculado al mayor costo del Producto por el cual desea cambiarlo, publicado en el Sitio Web al momento de solicitar el cambio.</p>
       <p class="items">3. Si el Cliente deseare cambiar el Producto por otro de menor valor, Bigbox registrará un crédito por la diferencia a favor del Cliente que permanecerá vigente durante sesenta (60) días corridos desde efectuado el cambio.</p>
       <p class="items">4. Se aclara que en ningún caso Bigbox ni el Prestador reintegrará monto alguno en efectivo por haberse efectuado un cambio por un Producto de menor costo. El Cliente podrá realizar el cambio del Producto ingresando en su panel de usuario del Sitio Web, en la sección "Mis regalos" o contactándose vía correo electrónico a info@bigbox.com.ar e informando el Código.</p>
       <p class="items">5. Se deja expresamente aclarado que si quien deseare hacer el cambio del Producto no fuere quien la compró sino el Beneficario, el pago del valor adicional y/o el crédito que se genere de acuerdo a lo previsto en los puntos 2 y 3 de este apartado E corresponderá al Beneficario.</p>

       <p class="Politica">Política de cambio.</p>

    <p class="texto">El precio de los Productos, así como los medios y modalidades de pago, están detallados en el Sitio Web. A efectos de la emisión de la respectiva factura, el Cliente se compromete a brindar los datos que fueran requeridos por Bigbox en el proceso de compra en el Sitio Web o en los Puntos de Venta. El Cliente no deberá pagar monto alguno adicional al Prestador en concepto del uso de la Experiencia seleccionada. El Cliente podrá, eventualmente, acordar con el Prestador una ampliación en el alcance de las prestaciones relativas a la Experiencia seleccionada, asumiendo el Cliente el costo adicional que ello le irrogue. En ningún caso podrá el Cliente reclamar a Bigbox ningún reintegro por pagos realizados por el Cliente directamente al Prestador.</p>

    <p>
        <b class="texto">DERECHO DE REVOCACIÓN DE LA COMPRA: EN CASO DE COMPRAS REALIZADAS A TRAVÉS DEL SITIO WEB, EL CLIENTE CONTARÁ CON EL DERECHO DE REVOCAR LA COMPRA DENTRO DE LOS DIEZ (10) DÍAS CORRIDOS CONTADOS DESDE LA FECHA DE ENTREGA DEL CÓDIGO (SEA POR CORREO ELECTRÓNICO O POSTAL, SEGÚN CORRESPONDA).</b>
    </p>
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>