<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    
    <main>
        <h1>¡Trabajá con nosotros!</h1>
     <section class="principal">
        <p class="texto">Si sabés pensar en grande, te gusta trabajar en equipo, y entendés que es fundamental divertirse, estamos esperando tu CV. ¡Este sueño recién empieza!</p>
        <p class="texto">¡Envianos tu perfil!<p>
            <form action="">
                <input type="file" name="archivosubido" class="archivosubido">
            </form>
    </section>  
       <section class="sumate">
        <div class="texto" id="ultimoTexto">
         Sumate a la experiencia de trabajar con nosotros. Somos una empresa joven, dinámica, en constante crecimiento y con excelente clima laboral.
        </div>
    </section>  
       
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>