<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    
    <main>
        <h1>¡Trabajá con nosotros!</h1>
     <section class="principal">
        <p class="texto">Si sabés pensar en grande, te gusta trabajar en equipo, y entendés que es fundamental divertirse, estamos esperando tu CV. ¡Este sueño recién empieza!</p>
         <div class="button">
            <h2>¡Envianos tu perfil!</h2>
                <input type="file" name="archivosubido" class="archivosubido">
          </p>
        </div>
    </section>  
       <section class="sumate">
        <div class="texto">
         Sumate a la experiencia de trabajar con nosotros. Somos una empresa joven, dinámica, en constante crecimiento y con excelente clima laboral.
        </div>

        <button type="submit" href="#" class="manifesto">Conocé nuestro manifesto</button>
        </section>  
       
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>