<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    
    <main>
        <h1>¡Trabajá con nosotros!</h1>
        <p class="texto">Si sabés pensar en grande, te gusta trabajar en equipo, y entendés que es fundamental divertirse, estamos esperando tu CV. ¡Este sueño recién empieza!</p>
        <div class="buttons bb-row-row bb-mb-7">
        <button type="button" class="bb-button bb-mr-4 primary bb-bold">
            <span class=".button1"></span>
            ¡Envianos tu perfil!
        </button>
        <button  type="button" id="button-main" class=".button2">
             Conocé nuestro manifesto
        </button>
        </div>

        <div class="texto">
         Sumate a la experiencia de trabajar con nosotros. Somos una empresa joven, dinámica, en constante crecimiento y con excelente clima laboral.
        </div>
        <h2 class="bb-title-3 bb-mb-5 sofia-font">
            Estas son algunas de nuestras áreas
        </h2>
        <div class="workArea bb--row">
          <div class="workArea bb-colum bb-fcenter bb-mr-1"></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>