<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    <main>
         <h1 class="titleOne">¿Queres unir tu experiencia a ENJOY?</h1>

            <h2 class="titleTwo">¡Sumate!</h2>
       <section class="formulario">
        <form action="/unituexperiencia" method="GET">            
            <section class="form">
                <div class="sumate">
                <h1 class="titulo">Completá este formulario</h1>
                <label for="">Nombre de la experiencia:</label>
                <input type="text"  name="userId" id="" required>
                <span class="feedback"></span>
                <label for=""> Categoria:</label>
                <input type="password" name="password" required>
                <span class="feedback"></span>

                <label for=""> Cantidad de personas:</label>
                <input type="password" name="password" required>
                <span class="feedback"></span>

                <label for=""> Breve descripcion:</label>
                <input type="password" name="password" required>
                <span class="feedback"></span>

                <label for=""> Fecha de caducidad:</label>
                <input type="date" name="date" required>
                <span class="feedback"></span>
            </div>
         
                <button type="submit">Enviar</button>   
        </section>
        </form>
       
    </main>
    <%- include('../partials/footer') %> 
</body>
</html>