<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    

    <main>

    <section class="agregarProd">
        <form action="/crearProducto" method="GET">  

            <fieldset class="form">
            <div class="nuevoProducto">
                    <h2 class="tituloPrincipal">Crear producto</h2>

                <label for=""> Nombre: </label>
                <input type="text" placeholder="Nombre del producto" name="userId" id="nombre" required>
                <span class="feedback"></span>

                <label for="">Descripcion:</label>
                <input type="text" placeholder="Describe el producto" name="userId" id="" required>
                <span class="feedback"></span>
                <label for=""></label>

                <label for="">Precio: </label> 
                <input type="number" placeholder="Precio del producto" name="userId" id="" required>
                <span class="feedback"></span>
                
                <label for="">Categoria:</label> 
                    <select name="categoria">
                
                      <option>Gastronomia</option>
                      <option>Aventura</option>
                      <option>Estar Bien</option>
                      <option>Entretenimiento</option>
                      <option>Estadias</option>

                    </select>
              <button type="submit"><a href="/"> Agregar Producto</a></button>   
       </div>
       </fieldset>
      </form>
  </section>         
   
</main>
<%- include('../partials/footer') %> 
</body>
</html> 