<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    

    <main>

    <section class="agregarProd">
        <form action="/admins/guardar" method="post">  

            <fieldset class="form">
            <div class="nuevoProducto">
                    <h2 class="tituloPrincipal">Crear producto</h2>

                <label for=""> Nombre: </label>
                <input type="text" placeholder="" name="name" id="name" required>
                <span class="feedback"></span>

                <label for="">Descripcion:</label>
                <input type="text" placeholder="" name="description" id="description" required>
                <span class="feedback"></span>
                <label for=""></label>

                <label for="">Precio: </label> 
                <input type="number" placeholder="" name="price" id="price" required>
                <span class="feedback"></span>
                
                <label for="user">Categoria:</label> 
                    <select value= "category" name="category" id="category">
                
                      <option>Gastronomia</option>
                      <option>Aventura</option>
                      <option>Estar Bien</option>
                      <option>Entretenimiento</option>
                      <option>Estadias</option>

                    </select>
              <button type="submit"> Agregar Producto</button>   
       </div>
       </fieldset>
      </form>
  </section>         
   
</main>
<%- include('../partials/footer') %> 
</body>
</html> 