<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    

    <main>

    <section class="modificarProd">
        <form action="/editarProducto" method="GET">            
            <fieldset class="form">
                <div class="editarProducto">
                <h2 class="tituloPrincipal">Editar producto</h2>

              
                <label for="">Nombre:</label>
                <input type="text" placeholder="" name="userId" id="nombre" required>
                <span class="feedback"></span>

                <label for="">Descripcion:</label>
                <input type="text" placeholder="" name="userId" id="" required>
                <span class="feedback"></span>

                 <label for="">Precio:</label> 
                 <input type="number" placeholder="" name="userId" id="" required>
                 <span class="feedback"></span>
                 <label for=""></label> 
                
                  
                <label for="" class= categoria >Categoria:</label>
                <select name="categoria">
                  <option>Gastronomia</option>
                  <option>Aventura</option>
                  <option>Estar Bien</option>
                  <option>Entretenimiento</option>
                  <option>Estadias</option>

                </select>
             </p>

         <button type="submit"><a href="/"> Editar Producto</a></button>   


      </div>
    
  </fieldset>
        </form>
  </section>         
   
</main>
<%- include('../partials/footer') %> 
</body>
</html> 