*{

    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
   
.titulo{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width:  auto; 
    margin-bottom: 10px;

}

.cuadrado{
    width: 90%;
    height: 25%;
    margin-left: 100px;
    border: 1px solid #b47cde;
    background-color: #d9bbf9;
    margin-bottom: 10px;
    border-radius: 5px;
    margin: 20px;
}
.img{
    /* margin-bottom: 10px; */
    flex-direction: column;
}
main section{
    /*border: 1px solid red;*/
    display:inline-center;
}
.datos{
     display: inline-block;
     
    /* border: 1px solid coral; */
}



.name{
    align-items: center;
    display: flex-center;
    /* border: 1px solid red; */
    margin-right: 60%;
    color: #371452;
}

@media screen and (min-width: 361px) {
    .cuadrado{
        width: 90%;
        height: 20%;
        margin-left: 40px;
        padding: 10px;
    }
    .datos{
        position:absolute; 
        left: 15%;
        margin-top: 20px;
        }
    .img{
     width: 25%;
    /* border: 1px solid red; */
    }
    .name{
        text-align:center;
         /*border: 1px solid green;*/  
    /*margin-inline-start: 1px;*/
    width: 90%;
    margin-bottom: 20px;
    margin-left: 70px;
    align-content: center;
    }
    .boton{
        margin-left: 110px;
    }
}
@media screen and (min-width: 769px) {
    .name{
        
        margin-bottom: 35px;
    }
    .cuadrado{
        width: 80%;
        height: 25%;
        margin-left: 75px;
    }
    
    .datos{
    position: absolute;
    left: 35%;
    margin-top: 45px;    
        
    }
}
@media screen and (min-width: 1200px) {
    .img{
        width: 12%;
    }
.cuadrado{
    width: 80%;
    margin-left: 10%;
    }
    .name{
    width: 90%;
    font-size: 180%;
    text-align: center;
    }
    .boton{
    /* margin-left: 150px; */
    margin-left: 120px; 
    align-content: center;
    
    }
    .datos{
    position: absolute;
    left: 35%;
    margin-top: 50px;
    }
}












