*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
   
.titulo{
    text-align: center;
    margin-bottom: 10px;
}
  
.cuadrado{
    
    background-color: #d9bbf9 ;
    border: 1px solid #b47cde ;
    margin-bottom: 10px;
     margin: 20px; 
    border-radius: 5px;
}

.img{
    /* width: 300px;  */
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid #5A2083; 
}
.name{
    margin-bottom: 10px;
    margin-left: 50%;
    display: flex;
    
}


@media screen and (min-width: 361px) {

    .cuadrado{
        height: 130px ;

    }
    .img{
        width: 20%;
    }
    .name{
        width: 10px;
        
    }

    .boton{
        margin-left: 50%;
        
    }
}

@media screen and (min-width: 769px){
    .cuadrado{
        height: 130px ;
       margin-right: 100px;
       
    }
    .img{
        width: 100px;
        margin-bottom: 10px;
    }
}


@media screen and (min-width: 1200px) {

    #mainOne{
        border: 2px solid #b47cde ;
       width: 30%;
       margin-left:35% ;
    }
}
















