*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
   
.titulo{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width:  auto; 
    margin-bottom: 10px;

}

.cuadrado{
    
    border: 1px solid #b47cde;
    background-color: #d9bbf9;
    margin-bottom: 10px;
    border-radius: 5px;
    margin: 20px;
}
.img{
    margin-bottom: 10px;
    flex-direction: column;
}
.boton{ 
    border: 1px solid rgb(9, 109, 79);
    
}
.datos{
    display: inline-block;
    border: 1px solid coral;
}
.name{
    text-align: center;
    display: inline-block;
    border: 1px solid red;
    margin-right: 60%;
}

@media screen and (min-width: 361px) {
    .cuadrado{
        padding: 10px;
    }
    .datos{
        position: absolute;
        left: 15%;
        margin-top: 20px;
        }
    .img{
     width: 20%;

    }
    .name{
    margin-inline-start: auto;
    width: 30%;
    
    margin-left: 100px;
    }
    .boton{
        margin-left: 100px;
    }
}
@media screen and (min-width: 769px) {
    .img{
        width: 
    }
}
@media screen and (min-width: 1200px) {
    .img{
        width: 
    }















