* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.dflex{
    display: flex;
    flex-wrap: wrap;
}

body{
    font-family: 'Montserrat', sans-serif;
}

#mainOne{
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

#mainOne h2{
    color: #5a2083;
    margin-right: 2px;
}


#mainOne h4{
    margin-top: 6px;
    color: #5a2083;
}

#mainOne p{
    font-size: 12px;
}

#mainTwo{
    border: solid 1.5px #5A2083;
    box-shadow: 0px 2px 2px #88888880;
    width: 95%;
    margin: 0.5rem;
    transition: box-shadow 200ms;
}

#mainTwo:hover{
    box-shadow: 0px 0px 10px #5A2083;
}

#mainTwo img{
    width: 45%;
}

#mainTwo article{
    width: 55%;
    padding: 3px; 
}

#mainTwo p{
    font-size: 10px;
    margin: 0.5rem;
    font-weight: bold;
}

form legend{
    font-size: 10px;
}

#mainTwo button input[type=checkbox]{ 
    display: none; 
}

#mainTwo fieldset{
    padding-left: 0;
    margin-left: 0.5rem;
}

#mainTwo button{
    width: 50%;
    border-radius: 6px;
    background-color: rgb(241, 240, 240);
    color: #5A2083;
    transition: all 300ms;
    padding: 3px;
}


#mainTwo button:hover{
    background-color: #5A2083;
    color: white;
}

#buttonLeft{
    position: relative;
    left: 4px;
}

#mainTwo button p{
    margin-left: 0;
}

#mainTwo p{
    width: 100%;
}

.format{
    font-size: 10px;
}

#mainThree{
    flex-direction: column;
    margin-top: 8px;
    padding-left: 40%;
}

#mainThree button{
    border-radius: 3px;
    background-color: #B47CDE;
    color: white;
    opacity: 90%;
    width: fit-content;
    padding: 7px;
    font-size: 12px; 
    transition: color 150ms;
}

#mainThree button:hover{
    color: #5A2083;
}
#mainThree button input[type=checkbox]{ 
    display: none; 
}

#mainThree p{
    font-size: 10px;
    margin: 3px 3px 6px 3px;
    color: #5A2083;
    font-weight: bold;
}


img{
    width: 80%;
}

#mainFour{
    background-color: #d9bbf9;
    opacity: 0.75;
    margin-bottom: 15px; 
    padding: 1rem;
    width: 100%;
}

#mainFour div{
    width: 100%;
    flex-wrap: nowrap;
    height: fit-content;
    gap: 1px;
    margin: 3px 0 3px 3px;
}

.fa-star, .fa-arrow-down{
    color: #371452;
}

#mainFour div p{
    font-size: 10px;
}

#mainFour p strong{
    color: #371452;
    margin: 0 8px 0 6px;
    font-size: 15px;
}

#mainFive article{
    width: 90%;
    padding: 1rem;
    margin-left: 1rem;
    border-bottom: solid 1px #9e9d9d;
}

#mainFive article h1{
    margin-bottom: 0.25rem;
}

.comentario{
    margin: 1rem;
    font-weight: bold;
}

.sinComentarios{
    margin: 1rem;
    font-weight: bold;
    margin-left: 1.25rem;
}

.adminsIcons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.deleteButton{
    background-color: white;
    width: 40px;   
}

.fa-trash, .fa-pen{
    font-size: 1.5rem;
    color: #5A2083;
    margin: 2px;
}

@media screen and (min-width: 361px) {  
    #mainOne p{
        font-size: 1rem;
        margin-top: 5px;
    }

    #mainTwo article{
        display: flex;
        flex-direction: column;
        margin-left: 0;
        padding-left: 10%;
        width: 50%;
    }

    #mainTwo{
        max-width: 90%;
        margin-left: 5%;
    }

    #mainTwo p{
        font-size: 15px;
        margin-top: 12%;
    }
    
    form legend{
        font-size: 15px;
    }

    #buttonLeft{
        left: 8px;
    }    

    #mainThree{
        padding-left: 50%;
    }

    #mainThree button{
        padding: 9px;
    }

    #mainFour{
        padding-left: 2.5rem;
    }

    #mainFour div{
        margin-bottom: 1rem;
    }

    #mainFour div p{
    font-size: 13px;
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        padding-right: 0;
    }

    #footerOne{
        max-width: 26%;
        text-align: left;
        flex-grow: 1;
    }

    #footerTwo{
        max-width: 26%;
        text-align: left;
        flex-grow: 1;
    }

    #footerThree{
        display: inline-flex;
        max-width: 45%;
        flex-grow: 1;
        align-items: flex-start;
        padding: 0;
    }
    
    #footerThree h2{
        margin-top: 1rem;
    }

    .newsletter{
        width: 100%;
    }

    #mainFive article{
        margin-left: 2rem;
    }
    .sinComentarios{
        padding: 1rem;
        margin-left: 2rem;
    }
}

@media screen and (min-width: 769px){
    header{
        padding: 2px;
        margin: 5px;
    }

    header img{
        width: 60%;
        height: 40%;
    }

    #barraSuperior nav{
        width: 40%;
    }
    
    #mainOne p{
        width: 100%;
        margin: 5px;
        font-size: 1.2rem;
    }

    #mainTwo{
        max-width: 60%;
        max-height: 50%;
        margin-left: 20%;
    }

    #mainTwo p{
        margin-bottom: 10%;
    }

    #mainThree button{
        width: 40%;
        padding: 12px;
        margin-top: 5px;
    }
}