* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
a:link, a:visited,  a:hover, a:active{
    color: #000000;
    text-decoration: none;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

main img{
    max-width: 100%;
    max-height:40vh;
    height:35vh;
}
.noHay{
    margin: 2rem;
    font-size: 1.5rem;
}

.duflex{
    display: flex;
    justify-content: center;
    
    
    
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
   margin-left:25%;
    
    
}
.duuflex{
    border: solid 1.5px #5A2083;
    box-shadow: 0px 2px 2px #88888880;
    margin:10px;
    background-color: #B47CDE;
    max-width:10rem;
    
    border-radius: 4px;
}
.duuflex:hover{
    box-shadow: 0px 0px 10px #5A2083;
}

@media screen and (min-width: 400px) {

.product{
    
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 2rem;
    
    
}
.duuflex{
    max-width: 7.8rem;
}


.detalle{
    max-width:12rem;
    
}
 }