<%- include('./partials/head') %> 
<link rel="stylesheet" href="/css/categories/<%=style%>.css">
<body>
    <%- include('./partials/header') %> 
   
    <main>
        <section>
         <h1>que es ENJOY</h1>

            <h2>Un regalo unico para disfrutar de nuevas experiencias!!</h2>
                  <p>Elegi entre 3 categorias con las tematicas: Bienestar, Gastronomia y Aventuras.
                    Elegi una o mas de las experiencia que te brinda ENJOY y descubri nuevas sensaciones con quien quieras disfrutar de ellas.</p>
       </section>
    </main>
    <%- include('./partials/footer') %> 
    
</body>
</html>