<%- include('../../partials/head') %> 
<link rel="stylesheet" href="/css/categories/<%=style%>.css">

<body>
    <%- include('../../partials/header') %> 

    <main>
        <h1>GASTRONOMIA</h1>

    </main>
    
    <%- include('../../partials/footer') %> 

</body>
</html>