<%- include('../partials/head') %> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiencias Corporativas</title>
</head>
<body>
    <%- include('./partials/header') %> 

    <main>
        <main>
            <fieldset class="fieldsetMain">
                <h1>Déjanos tus datos,
                    trabajemos juntos.</h1>
    
                 <div class="cuadroFormulario">
                     <p class="texto">Tiempo promedio de respuesta 3 horas hábiles</p>
                        <fieldset class="formCont">
                          <form class="formulario" novalidate>
                            <input class="nombrecompleto" type="text" name="fullname"  required="required" class="">
                            <input class="email"; type="email" name="email"  required="required" class="">
                        
                        </form>
                        </fieldset>
                          <h3 class="mensaje">Mensaje</h3>
                              <select type="select">
                                  <option value class="">Asunto</option>
                                  <option>Comprar un regalo</option>
                                  <option>Estado de mi envío</option>
                                  <option>Abrir mi regalo</option>
                                  <option>Cambio</option>
                                  <option>Extension de regalo</option>
                                  <option>Reserva</option>
                                  <option>Perdi mi regalo</option>
                                  <option>Devolver mi compra</option>
                                  <option>Otro</option>
                              </select>
                          <button class="enviar" type="submit">Enviar</button>
                       </form>
                 </div>
            </fieldset>
                
            </main>
    
    </main>
</body>
</html>