<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/<%=style%>.css">

<body>
    <%- include('../partials/header') %> 
    

    <main>
        <section id="main">
           <section class="registro">
            <form action="/register" method="GET" class="formularioRegistro">      
                <fieldset class="formreg">
                    <h1 class="crearCuenta">Crear cuenta</h1> 
                    <label for>Nombre :</label>
                    <input type="text" name="name" id minlength="3" required>
                    <span class="feedback"></span>
                    <label for>Apellido :</label>
                    <input type="text" name="lastName" id required>
                    <label for>Correo electronico :</label>
                    
                    <input type="email" name="email" id>
                    <label for>Contraseña :</label>
                    <input type="password" name="password" minlength="8" placeholder="*****" required>
                    
                    <label for>Fecha de nacimiento :</label>
                    <input type="date" name="birthdayDate" id>  
                </fieldset>
            </form>
            </section>
        </section>
          
        <section> 
            <div class="ultimaSeccionMain">
                <label for="terminos y condiciones" class="terms"><input type="checkbox" name="te condiciones" value="terminos y condiciones"> He leido y acepto los terminos y condiciones del sitio </label>
                <button type="sublim">
                    <a href="/">Registrarme</a>
                </button> 
            </div>
            
            <p>¿Ya tenés una cuenta?  
            <button type="sublim">
                <a href="/login">Iniciá Sesion</a>
            </button>
        </section> 
    </main>
    <%- include('../partials/footer') %> 
    
</body>
</html>