* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

main{
    margin: 2rem 1rem;
}
h1{
    font-weight: 300;
    border-radius: 0.5rem;
    margin: auto;
    max-width: 90%;
    text-align: center;
    margin-bottom: 1.5rem;
}

h5{
    font-size: 1.5rem;
    
}

p{
    font-weight: 300;
}

ul, li {
    
    list-style: none;
}

img{
    max-width: 100%;
    max-height: 23rem;
}

a:link, a:visited, a:active {
    text-decoration:none;
}
.categori {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
li img{
    width: 99%;
    background-color: rgb(217, 187, 249, 55);
    border: 1px solid #371452;
    border-radius: 3px;
    box-shadow: 0px 0px 8px rgb(100, 100, 100);
    opacity: 90%;
}

.abs{
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 48%;
    transform: translate(-50%, -50%);
    
}

h5 a{
    color: #ffffff;
    margin: auto;
    
    font-size:1.6rem;
    text-shadow: 2px 2px 2px black;
    font-weight:600;
     }

.rel{
    position: relative;
    margin-bottom: 2rem;
}


@media screen and (min-width: 430px) {
   .categori{
        margin-top: 2rem;
        max-width:70%;

    }

 h5 a{
     font-size: 2rem;
 }
 img{
     max-height: 50rem;
 }
 
li img:hover{
    box-shadow: 0px 0px 10px #5A2083;

}



 @media screen and (min-width: 1200px)  { 
    .categori{
        flex-wrap: nowrap;
        flex-direction: row;
        max-width: 90%;
        justify-content:space-around;

        }
    .rel{
        margin: 1rem 0.2rem;
    }
    h5 a{
       font-size: 1.3rem
    }

}
}